<a href="https://colab.research.google.com/github/Tonry12/data_science_bootcamp_8_tonnaw/blob/main/lo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เตรียมข้อมูลอุตุนิยมวิทยา (https://drive.google.com/drive/folders/1k6tJcTTv2bKmFz6A5oOWi-sAeTVIQpG4?usp=sharing)

ให้เตรียมข้อมูลลักษณะอากาศของแต่ละวัน (แก้ missing, noise, ฯลฯ ) และสร้างตารางเพื่อทำการทำนาย ปริมาณน้ำฝนสำหรับจังหวัดขอนแก่นของวันถัดไป (ปริมาณน้ำฝนขอนแก่นของวันที่ D+1) จากข้อมูลลักษณะอากาศในจังหวัดต่างๆ (ขอนแก่น,หนองคาย,นครพนม,เลย,สกลนคร) ของวันปัจจุบัน (อุณหภูมิตุ้มแห้งขอนแก่นของวันที่ D,...,ความเร็วลมสกลนครของวันที่ D)


ตัวอย่างตารางที่ต้องการ (Xi มีทั้งหมด 5จังหวัด * 8ลักษณะอากาศ = 40 columns และ Y อีก 1 columns)

![image.png]()

In [211]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [259]:
import numpy as np

In [212]:
#นำข้อมูลเข้า

#1.จังหวัดขอนแก่น
press_kk = pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx', skiprows=[0,1,2,3]) #ความกดอากาศ
Humidity_kk = pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx', skiprows=[0,1,2,3]) #ความชื้นสัมพัทธ์
ws_kk =  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx', skiprows=[0,1,2,3]) #ความเร็วลม
cd_kk =  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx', skiprows=[0,1,2,3]) #จำนวนเมฆ
dp_kk =  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx', skiprows=[0,1,2,3]) #อุณหภูมิจุดน้ำค้าง
bt_kk=  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx', skiprows=[0,1,2,3]) #อุณหภูมิตุ้มแห้ง
lw_kk=  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น.xlsx', skiprows=[0,1,2,3]) #อุณหภูมิต่ำสุด
rain_kk=  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx', skiprows=[0,1,2,3]) #ปริมาณฝน

#2.จังหวัดนครพนม
press_nkpanom = pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx', skiprows=[0,1,2,3]) #ความกดอากาศ
Humidity_nkpanom = pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx', skiprows=[0,1,2,3]) #ความชื้นสัมพัทธ์
ws_nkpanom =  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ความเร็วลม(นอต)/จ.นครพนม.xlsx', skiprows=[0,1,2,3]) #ความเร็วลม
cd_nkpanom =  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx', skiprows=[0,1,2,3]) #จำนวนเมฆ
dp_nkpanom =  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx', skiprows=[0,1,2,3]) #อุณหภูมิจุดน้ำค้าง
bt_nkpanom=  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx', skiprows=[0,1,2,3]) #อุณหภูมิตุ้มแห้ง
lw_nkpanom=  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.นครพนม.xlsx', skiprows=[0,1,2,3]) #อุณหภูมิต่ำสุด
rain_nkpanom=  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx', skiprows=[0,1,2,3]) #ปริมาณฝน

#3.จังหวัดสกลนคร
press_sknk = pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx', skiprows=[0,1,2,3]) #ความกดอากาศ
Humidity_sknk = pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx', skiprows=[0,1,2,3]) #ความชื้นสัมพัทธ์
ws_sknk =  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ความเร็วลม(นอต)/จ.สกลนคร.xlsx', skiprows=[0,1,2,3]) #ความเร็วลม
cd_sknk =  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx', skiprows=[0,1,2,3]) #จำนวนเมฆ
dp_sknk =  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx', skiprows=[0,1,2,3]) #อุณหภูมิจุดน้ำค้าง
bt_sknk=  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx', skiprows=[0,1,2,3]) #อุณหภูมิตุ้มแห้ง
lw_sknk=  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.สกล.xlsx', skiprows=[0,1,2,3]) #อุณหภูมิต่ำสุด
rain_sknk=  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx', skiprows=[0,1,2,3]) #ปริมาณฝน

#4.จังหวัดหนองคาย
press_nongcry = pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx', skiprows=[0,1,2,3]) #ความกดอากาศ
Humidity_nongcry = pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx', skiprows=[0,1,2,3]) #ความชื้นสัมพัทธ์
ws_nongcry =  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ความเร็วลม(นอต)/จ.หนองคาย.xlsx', skiprows=[0,1,2,3]) #ความเร็วลม
cd_nongcry =  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx', skiprows=[0,1,2,3]) #จำนวนเมฆ
dp_nongcry =  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx', skiprows=[0,1,2,3]) #อุณหภูมิจุดน้ำค้าง
bt_nongcry=  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx', skiprows=[0,1,2,3]) #อุณหภูมิตุ้มแห้ง
lw_nongcry=  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย.xlsx', skiprows=[0,1,2,3]) #อุณหภูมิต่ำสุด
rain_nongcry=  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx', skiprows=[0,1,2,3]) #ปริมาณฝน

#5.จังหวัดเลย
press_loey = pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx', skiprows=[0,1,2,3]) #ความกดอากาศ
Humidity_loey = pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx', skiprows=[0,1,2,3]) #ความชื้นสัมพัทธ์
ws_loey =  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ความเร็วลม(นอต)/จ.เลย.xlsx', skiprows=[0,1,2,3]) #ความเร็วลม
cd_loey =  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx', skiprows=[0,1,2,3]) #จำนวนเมฆ
dp_loey =  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx', skiprows=[0,1,2,3]) #อุณหภูมิจุดน้ำค้าง
bt_loey=  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx', skiprows=[0,1,2,3]) #อุณหภูมิตุ้มแห้ง
lw_loey=  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.เลย.xlsx', skiprows=[0,1,2,3]) #อุณหภูมิต่ำสุด
rain_loey=  pd.read_excel('/content/drive/MyDrive/DPDM2023/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx', skiprows=[0,1,2,3]) #ปริมาณฝน

## เตรียมข้อมูลเบื้องต้น

ลบค่าซ้ำ

#ต่อกันในแนวแกน x (join)

## จังหวัดขอนแก่น

In [213]:
print(press_kk)

   Unnamed: 0                Unnamed: 1 Unnamed: 2        1        2        3  \
0         1    352201-หนองคาย จ.หนองคาย 2011-10-01  1005.47  1006.65  1007.49
1         2    352201-หนองคาย จ.หนองคาย 2011-11-01  1011.79  1010.83  1010.74
2         3    352201-หนองคาย จ.หนองคาย 2011-12-01  1011.43  1012.57  1012.28
3         1    352201-หนองคาย จ.หนองคาย 2012-01-01  1015.67  1014.11  1012.91
4         2    352201-หนองคาย จ.หนองคาย 2012-02-01  1013.26  1012.92  1013.61
5         3    352201-หนองคาย จ.หนองคาย 2012-10-01  1011.50  1011.11  1008.60
6         4    352201-หนองคาย จ.หนองคาย 2012-11-01  1012.67  1011.17  1010.47
7         5    352201-หนองคาย จ.หนองคาย 2012-12-01  1009.80  1010.17  1010.74
8         6    352201-หนองคาย จ.หนองคาย 2013-01-01  1014.58  1013.30  1013.73
9         7    352201-หนองคาย จ.หนองคาย 2013-02-01  1015.19  1013.97  1013.89
10        8    352201-หนองคาย จ.หนองคาย 2013-10-01  1007.15  1010.12  1009.88
11        9    352201-หนองคาย จ.หนองคาย 2013-11-01  1011.98  1011.46  1012.38
12       10    352201-หนองคาย จ.หนองคาย 2013-12-01  1016.33  1016.26  1014.47
13       11    352201-หนองคาย จ.หนองคาย 2014-01-01  1015.68  1013.34  1012.22
14       12    352201-หนองคาย จ.หนองคาย 2014-02-01  1011.69  1008.58  1006.13
15       13    352201-หนองคาย จ.หนองคาย 2014-10-01  1010.85  1010.07  1008.86
16       14    352201-หนองคาย จ.หนองคาย 2014-11-01  1009.82  1010.80  1012.60
17       15    352201-หนองคาย จ.หนองคาย 2014-12-01  1010.10  1011.37  1011.13
18       16    352201-หนองคาย จ.หนองคาย 2015-01-01  1018.10  1018.43  1016.61
19       17    352201-หนองคาย จ.หนองคาย 2015-02-01  1017.24  1017.93  1018.05
20       18    352201-หนองคาย จ.หนองคาย 2015-10-01  1011.22  1010.97  1010.41
21       19    352201-หนองคาย จ.หนองคาย 2015-11-01  1014.97  1015.22  1014.31
22       20    352201-หนองคาย จ.หนองคาย 2015-12-01  1012.55  1012.12  1012.52
23       21    352201-หนองคาย จ.หนองคาย 2016-01-01  1019.11  1017.96  1016.01
24       22    352201-หนองคาย จ.หนองคาย 2016-02-01  1012.54  1015.56  1015.71
25       23    352201-หนองคาย จ.หนองคาย 2016-10-01  1008.89  1008.47  1007.18
26       24    352201-หนองคาย จ.หนองคาย 2016-11-01  1012.79  1013.98  1014.58
27       25    352201-หนองคาย จ.หนองคาย 2016-12-01  1016.86  1016.16  1015.39
28       26    352201-หนองคาย จ.หนองคาย 2017-01-01  1015.76  1014.10  1013.84
29       27    352201-หนองคาย จ.หนองคาย 2017-02-01  1014.21  1015.26  1014.23
30       28    352201-หนองคาย จ.หนองคาย 2017-10-01  1009.04  1007.45  1007.44
31       29    352201-หนองคาย จ.หนองคาย 2017-11-01  1013.68  1011.33  1012.00
32       30    352201-หนองคาย จ.หนองคาย 2017-12-01  1012.16  1012.63  1012.48
33       31    352201-หนองคาย จ.หนองคาย 2018-01-01  1013.49  1012.55  1011.88
34       32    352201-หนองคาย จ.หนองคาย 2018-02-01  1016.03  1016.00  1018.19
35       33    352201-หนองคาย จ.หนองคาย 2018-10-01  1010.47  1011.63  1011.63
36       34    352201-หนองคาย จ.หนองคาย 2018-11-01  1013.50  1013.96  1014.10
37       35    352201-หนองคาย จ.หนองคาย 2018-12-01  1012.48  1011.29  1011.47
38       36    352201-หนองคาย จ.หนองคาย 2019-01-01  1019.06  1018.25  1018.03
39       37    352201-หนองคาย จ.หนองคาย 2019-02-01  1014.93  1013.13  1012.71
40       38    352201-หนองคาย จ.หนองคาย 2019-10-01  1009.73  1009.64  1009.30
41       39    352201-หนองคาย จ.หนองคาย 2019-11-01  1010.27  1010.69  1011.01
42       40    352201-หนองคาย จ.หนองคาย 2019-12-01  1012.81  1015.07  1017.05
43       41    352201-หนองคาย จ.หนองคาย 2020-01-01  1017.80  1018.04  1016.21
44       42    352201-หนองคาย จ.หนองคาย 2020-02-01  1014.57  1014.85  1013.17
45       43    352201-หนองคาย จ.หนองคาย 2020-10-01  1005.67  1006.21  1007.56
46       44    352201-หนองคาย จ.หนองคาย 2020-11-01  1012.18  1012.74  1013.72
47       45    352201-หนองคาย จ.หนองคาย 2020-12-01  1016.17  1014.73  1015.23
48       46    352201-หนองคาย จ.หนองคาย 2021-01-01  1018.63  1017.35  1015.20
49       47    352201-หนองคาย จ.หนองคาย 2021-02-01  1014.44  1014.14  1014.30
50       48    352201-หนองคาย จ.หนองคาย 2021-10-01  1008.12  1008.74  1008.64
51       49    352201-หนองคาย จ.หนองคาย 2021-11-01  1013.23  1013.04  1012.50
52       50    352201-หนองคาย จ.หนองคาย 2021-12-01  1015.80  1017.00  1018.68
53        1    352201-หนองคาย จ.หนองคาย 2022-01-01  1017.75  1016.89  1015.26
54        2    352201-หนองคาย จ.หนองคาย 2022-02-01  1010.90  1012.02  1012.12

          4        5        6        7  ...       23       24       25  \
0   1008.28  1009.88  1011.36  1011.17  ...  1010.76  1010.23  1011.34
1   1010.71  1010.09  1009.24  1008.03  ...  1014.07  1015.40  1013.95
2   1012.97  1013.09  1012.03  1012.05  ...  1012.88  1015.78  1018.56
3   1014.06  1015.51  1015.88  1017.72  ...  1010.91  1011.27  1011.65
4   1013.18  1011.26  1008.80  1008.16  ...  1005.75  1005.46  1004.80
5   1007.07  1008.17  1010.06  1010.11  ...  1010.93  1010.20  1009.78
6   1010.24  1010.43  1010.90  1009.76  ...  1008.60  1010.51  1011.46
7   1010.72  1010.61  1012.15  1011.02  ...  1014.53  1016.29  1013.54
8   1012.89  1011.43  1011.80  1012.20  ...  1013.16  1012.54  1012.09
9   1013.91  1013.43  1011.11  1008.35  ...  1015.38  1013.40  1011.79
10  1009.47  1008.08  1008.35  1009.30  ...  1012.52  1012.21  1013.81
11  1014.27  1013.73  1012.49  1012.23  ...  1010.88  1010.65  1009.57
12  1013.72  1012.13  1012.41  1013.45  ...  1016.96  1017.48  1017.28
13  1013.22  1012.63  1011.37  1011.15  ...  1018.49  1014.48  1012.48
14  1005.61  1006.28  1006.33  1006.42  ...  1013.56  1013.11  1012.19
15  1008.74  1009.45  1011.89  1011.67  ...  1011.90  1011.71  1011.75
16  1012.98  1013.05  1011.94  1011.51  ...  1012.04  1011.58  1010.59
17  1012.84  1015.01  1013.72  1012.41  ...  1016.09  1015.77  1014.03
18  1013.04  1010.62  1010.23  1011.51  ...  1014.58  1013.35  1013.90
19  1016.92  1016.98  1017.54  1015.70  ...  1012.47  1010.20  1008.99
20  1010.60  1010.96  1011.22  1011.05  ...  1011.04  1012.27  1013.21
21  1012.89  1010.98  1010.44  1012.16  ...  1011.81  1011.37  1011.94
22  1012.37  1013.84  1015.29  1016.55  ...  1014.23  1012.50  1012.83
23  1014.81  1013.54  1014.17  1015.09  ...  1014.31  1022.85  1024.58
24  1014.56  1014.67  1018.76  1021.78  ...  1013.14  1016.51  1020.20
25  1006.91  1006.73  1008.18  1008.18  ...  1007.01  1007.45  1008.60
26  1012.23  1009.86  1009.65  1010.88  ...  1009.72  1010.14  1010.23
27  1014.32  1013.74  1015.07  1014.06  ...  1012.91  1012.30  1012.25
28  1012.96  1012.34  1010.60  1008.84  ...  1018.28  1017.70  1017.96
29  1011.67  1010.69  1009.80  1008.96  ...  1010.00  1011.29  1012.89
30  1009.05  1010.15  1009.71  1008.66  ...  1011.04  1014.10  1015.08
31  1011.97  1013.19  1012.18  1011.52  ...  1012.42  1015.12  1015.78
32  1012.26  1013.50  1012.88  1012.24  ...  1012.10  1013.11  1014.21
33  1010.84  1009.47  1008.59  1009.45  ...  1008.89  1008.44  1008.10
34  1017.67  1019.01  1018.11  1015.02  ...  1013.25  1013.63  1011.51
35  1011.91  1012.22  1011.63  1011.61  ...  1011.66  1012.16  1012.58
36  1013.05  1012.12  1012.11  1012.37  ...  1015.23  1014.18  1013.51
37  1011.69  1010.70  1009.97  1010.74  ...  1012.47  1012.12  1011.17
38  1016.94  1015.36  1014.87  1013.64  ...  1015.52  1014.71  1015.12
39  1012.92  1011.68  1009.89  1010.78  ...  1008.36  1008.63  1009.36
40  1009.99  1010.62  1011.12  1011.16  ...  1007.96  1009.48  1011.38
41  1012.42  1010.78  1009.42  1010.89  ...  1013.12  1012.68  1014.43
42  1018.56  1019.41  1020.43  1020.26  ...  1011.49  1011.94  1011.10
43  1014.33  1013.76  1013.74  1012.64  ...  1011.31  1010.53  1008.93
44  1011.85  1012.19  1012.60  1013.20  ...  1017.40  1014.74  1012.35
45  1008.25  1008.60  1008.88  1008.64  ...  1011.37  1011.84  1010.77
46  1013.71  1013.32  1013.43  1014.50  ...  1013.11  1012.99  1012.89
47  1016.08  1016.58  1016.28  1015.71  ...  1012.58  1011.89  1012.57
48  1015.49  1014.24  1012.99  1012.07  ...  1011.15  1011.56  1011.04
49  1015.04  1014.19  1013.19  1012.24  ...  1010.08  1008.40  1006.24
50  1008.16  1007.42  1005.93  1004.61  ...  1015.21  1015.08  1013.52
51  1011.41  1009.71  1007.97  1007.80  ...  1013.18  1014.70  1014.53
52  1018.13  1017.43  1016.91  1016.72  ...  1012.63  1012.30  1013.87
53  1014.98  1013.66  1014.12  1014.99  ...  1010.66  1010.19  1010.22
54  1013.77  1015.52  1014.63  1011.54  ...  1017.55  1019.04  1018.41

         26       27       28       29       30       31  Unnamed: 34
0   1011.84  1011.89  1012.29  1011.67   1011.3  1011.52  1010.350645
1   1012.35  1011.31  1009.59  1010.13  1010.47        -  1011.717000
2   1018.65  1016.88  1016.05  1014.98  1015.53   1016.4  1016.470000
3   1012.56  1010.76  1010.26  1010.69  1012.34  1014.52  1012.484516
4   1005.08  1006.57  1005.96  1006.53  1010.47        -  1009.749667
5   1009.08  1008.67  1008.41  1008.71   1008.7  1011.83  1010.386452
6   1010.77  1010.16  1010.18  1010.04  1009.54        -  1010.464333
7   1011.60  1010.58  1009.61   1009.9  1011.64  1014.86  1011.622581
8   1012.41  1013.80  1016.45  1015.31  1014.99  1015.58  1013.629677
9   1010.17  1007.95  1006.82        -        -        -  1011.207500
10  1014.58  1013.70  1013.78  1013.54  1012.81   1012.4  1010.755161
11  1009.86  1011.42  1014.45  1016.41  1015.26        -  1011.742333
12  1016.62  1017.87  1016.97  1016.84     1017   1017.5  1014.554839
13  1014.52  1015.37  1013.99  1014.53  1015.39  1014.49  1015.809032
14  1010.95  1011.90  1010.65  1017.86  1016.45        -  1011.170667
15  1012.54  1011.60  1010.97  1011.07  1010.28  1009.99  1011.508710
16  1009.18  1009.71  1009.71  1009.31  1008.11        -  1012.142333
17  1011.86  1012.67  1015.48  1016.54  1014.73  1015.75  1015.031935
18  1013.39  1011.88  1010.83  1012.02  1013.99   1016.1  1015.371935
19  1008.88  1009.33  1009.39        -        -        -  1013.369286
20  1013.10  1012.37  1013.38  1013.26  1013.24  1013.93  1011.945161
21  1013.02  1014.29  1015.72   1015.5  1014.26        -  1012.320333
22  1014.45  1016.48  1018.15   1017.3  1016.83  1018.79  1014.545161
23  1021.61  1018.09  1014.91  1012.85  1012.14  1010.96  1014.070645
24  1020.62  1019.59  1018.81  1018.79  1014.23        -  1015.699000
25  1010.82  1012.48  1011.16  1011.55  1012.69  1012.93  1008.360000
26  1010.87  1012.68  1014.55  1015.79  1016.13        -  1011.899667
27  1011.84  1013.72  1016.30  1017.37   1017.8  1016.77  1013.720323
28  1017.01  1016.06  1014.32  1012.96  1012.88  1013.95  1013.325484
29  1013.60  1014.51  1013.49  1016.69  1017.07        -  1013.891333
30  1013.71  1011.98  1012.53  1013.79   1015.2  1014.65  1010.060968
31  1014.90  1012.86  1012.40  1012.22  1011.47        -  1011.561667
32  1015.17  1014.80  1014.75  1014.72  1014.49  1015.22  1014.673226
33  1008.46  1008.72  1008.65  1009.56  1012.29   1013.5  1011.680000
34  1011.92  1011.70  1009.53        -        -        -  1013.448929
35  1013.42  1013.89  1013.66   1012.7  1012.71  1013.87  1011.947097
36  1013.95  1015.92  1015.71  1015.89  1014.52        -  1012.627667
37  1009.81  1009.58  1011.02  1014.95  1017.04  1019.08  1013.455161
38  1017.06  1017.11  1015.93  1014.39  1014.12  1014.12  1014.759677
39  1010.52  1009.81  1008.33        -        -        -  1011.753571
40  1011.52  1010.91  1010.81  1011.95  1012.02  1010.36  1011.002903
41  1013.98  1013.13  1014.15  1014.29   1013.6  1010.36  1012.421613
42  1011.34  1013.22  1014.32  1013.81  1014.76  1016.49  1014.847742
43  1008.84  1009.65  1011.14   1013.8  1015.25  1015.43  1012.816774
44  1012.54  1012.56  1011.53  1010.22        -        -  1013.882414
45  1010.94  1009.87  1007.73  1006.46  1011.34  1012.11  1008.659677
46  1013.69  1014.92  1015.28  1015.33  1015.85        -  1013.199000
47  1012.30  1010.83  1009.91  1009.95  1013.86  1018.27  1013.962903
48  1011.50  1011.67  1013.78  1015.66  1015.24  1014.93  1014.457742
49  1004.28  1005.45  1007.80        -        -        -  1012.162857
50  1012.33  1012.16  1012.33  1013.04  1013.26  1012.96  1009.382903
51  1014.41  1015.51  1014.45  1013.37  1013.98        -  1012.167000
52  1015.64  1017.06  1017.58   1016.4  1017.83  1018.39  1015.712903
53  1010.70  1010.80  1010.52  1008.55  1007.99  1008.91  1012.889032
54  1016.05  1014.37  1013.04  1013.37  1013.98        -  1012.456667

[55 rows x 35 columns]

In [214]:
press_kk.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
press_kk.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
press_kk.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
press_kk.head()

,id,สถานี,เดือน-ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,Unnamed: 34
0,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000
2,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000
3,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
4,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667

In [215]:
press_kk['year'] = press_kk['เดือน-ปี'].dt.year
press_kk['month'] = press_kk['เดือน-ปี'].dt.month
press_kk = press_kk.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
press_kk.head()

,id,สถานี,1,2,3,4,5,6,7,8,...,24,25,26,27,28,29,30,31,year,month
0,1,352201-หนองคาย จ.หนองคาย,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,1010.20,...,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,2011,10
1,2,352201-หนองคาย จ.หนองคาย,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,1007.20,...,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,2011,11
2,3,352201-หนองคาย จ.หนองคาย,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,1011.94,...,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,2011,12
3,1,352201-หนองคาย จ.หนองคาย,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,1018.06,...,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,2012,1
4,2,352201-หนองคาย จ.หนองคาย,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,1009.66,...,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,2012,2

In [216]:
press_kk_melt = press_kk.set_index(['สถานี','id','year','month']).stack().reset_index()
press_kk_melt.rename(columns={'level_4' : 'day'},inplace=True)
press_kk_melt.rename(columns={0 : 'ความกดอากาศ(%)'},inplace=True)
press_kk_melt

                         สถานี   id  year  month  day ความกดอากาศ(%)
0     352201-หนองคาย จ.หนองคาย  1    2011     10    1        1005.47
1     352201-หนองคาย จ.หนองคาย  1    2011     10    2        1006.65
2     352201-หนองคาย จ.หนองคาย  1    2011     10    3        1007.49
3     352201-หนองคาย จ.หนองคาย  1    2011     10    4        1008.28
4     352201-หนองคาย จ.หนองคาย  1    2011     10    5        1009.88
...                        ...  ...   ...    ...  ...            ...
1700  352201-หนองคาย จ.หนองคาย  2    2022      2   27        1014.37
1701  352201-หนองคาย จ.หนองคาย  2    2022      2   28        1013.04
1702  352201-หนองคาย จ.หนองคาย  2    2022      2   29        1013.37
1703  352201-หนองคาย จ.หนองคาย  2    2022      2   30        1013.98
1704  352201-หนองคาย จ.หนองคาย  2    2022      2   31              -

[1705 rows x 6 columns]

In [217]:
press_kk_melt['province_id'] = len(press_kk_melt)*['kk']
press_kk_melt

,สถานี,id,year,month,day,ความกดอากาศ(%),province_id
0,352201-หนองคาย จ.หนองคาย,1,2011,10,1,1005.47,kk
1,352201-หนองคาย จ.หนองคาย,1,2011,10,2,1006.65,kk
2,352201-หนองคาย จ.หนองคาย,1,2011,10,3,1007.49,kk
3,352201-หนองคาย จ.หนองคาย,1,2011,10,4,1008.28,kk
4,352201-หนองคาย จ.หนองคาย,1,2011,10,5,1009.88,kk
...,...,...,...,...,...,...,...
1700,352201-หนองคาย จ.หนองคาย,2,2022,2,27,1014.37,kk
1701,352201-หนองคาย จ.หนองคาย,2,2022,2,28,1013.04,kk
1702,352201-หนองคาย จ.หนองคาย,2,2022,2,29,1013.37,kk
1703,352201-หนองคาย จ.หนองคาย,2,2022,2,30,1013.98,kk
1704,352201-หนองคาย จ.หนองคาย,2,2022,2,31,-,kk

In [218]:
press_kk_in = press_kk_melt[['province_id','year','month','day','ความกดอากาศ(%)']].reset_index()
press_kk_in_re = press_kk_in[['province_id','index','year','month','day','ความกดอากาศ(%)']]
press_kk_in_re

     province_id  index  year  month  day ความกดอากาศ(%)
0             kk      0  2011     10    1        1005.47
1             kk      1  2011     10    2        1006.65
2             kk      2  2011     10    3        1007.49
3             kk      3  2011     10    4        1008.28
4             kk      4  2011     10    5        1009.88
...          ...    ...   ...    ...  ...            ...
1700          kk   1700  2022      2   27        1014.37
1701          kk   1701  2022      2   28        1013.04
1702          kk   1702  2022      2   29        1013.37
1703          kk   1703  2022      2   30        1013.98
1704          kk   1704  2022      2   31              -

[1705 rows x 6 columns]

In [219]:
press_kk_in_re["id"] = press_kk_in_re["province_id"].astype(str) +  press_kk_in_re["index"].astype(str)

<ipython-input-219-06c81e268830>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  press_kk_in_re["id"] = press_kk_in_re["province_id"].astype(str) +  press_kk_in_re["index"].astype(str)

In [220]:
press_kk_fin = press_kk_in_re[['id','province_id','year','month','day','ความกดอากาศ(%)']]
press_kk_fin

          id province_id  year  month  day ความกดอากาศ(%)
0        kk0          kk  2011     10    1        1005.47
1        kk1          kk  2011     10    2        1006.65
2        kk2          kk  2011     10    3        1007.49
3        kk3          kk  2011     10    4        1008.28
4        kk4          kk  2011     10    5        1009.88
...      ...         ...   ...    ...  ...            ...
1700  kk1700          kk  2022      2   27        1014.37
1701  kk1701          kk  2022      2   28        1013.04
1702  kk1702          kk  2022      2   29        1013.37
1703  kk1703          kk  2022      2   30        1013.98
1704  kk1704          kk  2022      2   31              -

[1705 rows x 6 columns]

In [221]:
#ความชื้นสัมพัทธ์ ขอนแก่น

In [222]:
Humidity_kk.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
Humidity_kk.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
Humidity_kk.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)

In [223]:
Humidity_kk['year'] = Humidity_kk['เดือน-ปี'].dt.year
Humidity_kk['month'] = Humidity_kk['เดือน-ปี'].dt.month
Humidity_kk = Humidity_kk.drop(['เดือน-ปี','Unnamed: 34'], axis =1)

In [224]:
Humidity_kk_melt = Humidity_kk.set_index(['สถานี','id','year','month']).stack().reset_index()
Humidity_kk_melt.rename(columns={'level_4' : 'day'},inplace=True)
Humidity_kk_melt.rename(columns={0 : 'ความชื้นสัมพัทธ์(%)'},inplace=True)
Humidity_kk_melt.head()

                      สถานี   id  year  month  day ความชื้นสัมพัทธ์(%)
0  381201-ขอนแก่น จ.ขอนแก่น  1    2011     10    1                  83
1  381201-ขอนแก่น จ.ขอนแก่น  1    2011     10    2                  92
2  381201-ขอนแก่น จ.ขอนแก่น  1    2011     10    3                  86
3  381201-ขอนแก่น จ.ขอนแก่น  1    2011     10    4                  80
4  381201-ขอนแก่น จ.ขอนแก่น  1    2011     10    5                  86

In [225]:
Humidity_kk_melt['province_id'] = len(Humidity_kk_melt)*['kk']

In [226]:
Humidity_kk_in = Humidity_kk_melt[['province_id','year','month','day','ความชื้นสัมพัทธ์(%)']].reset_index()
Humidity_kk_in_re = Humidity_kk_in[['province_id','index','year','month','day','ความชื้นสัมพัทธ์(%)']]
Humidity_kk_in_re

     province_id  index  year  month  day ความชื้นสัมพัทธ์(%)
0             kk      0  2011     10    1                  83
1             kk      1  2011     10    2                  92
2             kk      2  2011     10    3                  86
3             kk      3  2011     10    4                  80
4             kk      4  2011     10    5                  86
...          ...    ...   ...    ...  ...                 ...
1700          kk   1700  2022      2   27                  58
1701          kk   1701  2022      2   28                  62
1702          kk   1702  2022      2   29                   -
1703          kk   1703  2022      2   30                   -
1704          kk   1704  2022      2   31                   -

[1705 rows x 6 columns]

In [227]:
Humidity_kk_in_re["id"] = Humidity_kk_in_re["province_id"].astype(str) +  Humidity_kk_in_re["index"].astype(str)

<ipython-input-227-7979acf9468b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Humidity_kk_in_re["id"] = Humidity_kk_in_re["province_id"].astype(str) +  Humidity_kk_in_re["index"].astype(str)

In [228]:
Humidity_kk_fin = Humidity_kk_in_re[['id','province_id','year','month','day','ความชื้นสัมพัทธ์(%)']]
Humidity_kk_fin

          id province_id  year  month  day ความชื้นสัมพัทธ์(%)
0        kk0          kk  2011     10    1                  83
1        kk1          kk  2011     10    2                  92
2        kk2          kk  2011     10    3                  86
3        kk3          kk  2011     10    4                  80
4        kk4          kk  2011     10    5                  86
...      ...         ...   ...    ...  ...                 ...
1700  kk1700          kk  2022      2   27                  58
1701  kk1701          kk  2022      2   28                  62
1702  kk1702          kk  2022      2   29                   -
1703  kk1703          kk  2022      2   30                   -
1704  kk1704          kk  2022      2   31                   -

[1705 rows x 6 columns]

In [229]:
#ความเร็วลม

In [230]:
ws_kk.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
ws_kk.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
ws_kk.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)

ws_kk['year'] = ws_kk['เดือน-ปี'].dt.year
ws_kk['month'] = ws_kk['เดือน-ปี'].dt.month
ws_kk = ws_kk.drop(['เดือน-ปี','Unnamed: 34'], axis =1)

ws_kk_melt = ws_kk.set_index(['สถานี','id','year','month']).stack().reset_index()
ws_kk_melt.rename(columns={'level_4' : 'day'},inplace=True)
ws_kk_melt.rename(columns={0 : 'ความเร็วลม(นอต)'},inplace=True)

ws_kk_melt['province_id'] = len(ws_kk_melt)*['kk']

ws_kk_in = ws_kk_melt[['province_id','year','month','day','ความเร็วลม(นอต)']].reset_index()
ws_kk_in_re = ws_kk_in[['province_id','index','year','month','day','ความเร็วลม(นอต)']]

ws_kk_in_re["id"] = ws_kk_in_re["province_id"].astype(str) +  ws_kk_in_re["index"].astype(str)

ws_kk_fin = ws_kk_in_re[['id','province_id','year','month','day','ความเร็วลม(นอต)']]
ws_kk_fin

<ipython-input-230-fa211a97655c>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ws_kk_in_re["id"] = ws_kk_in_re["province_id"].astype(str) +  ws_kk_in_re["index"].astype(str)

          id province_id  year  month  day ความเร็วลม(นอต)
0        kk0          kk  2011     10    1               3
1        kk1          kk  2011     10    2               2
2        kk2          kk  2011     10    3               3
3        kk3          kk  2011     10    4               2
4        kk4          kk  2011     10    5               2
...      ...         ...   ...    ...  ...             ...
1700  kk1700          kk  2022      2   27               2
1701  kk1701          kk  2022      2   28               2
1702  kk1702          kk  2022      2   29               -
1703  kk1703          kk  2022      2   30               -
1704  kk1704          kk  2022      2   31               -

[1705 rows x 6 columns]

In [231]:
#จำนวนเมฆ

In [232]:
cd_kk.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
cd_kk.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
cd_kk.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)


cd_kk['year'] = cd_kk['เดือน-ปี'].dt.year
cd_kk['month'] = cd_kk['เดือน-ปี'].dt.month
cd_kk = cd_kk.drop(['เดือน-ปี','Unnamed: 34'], axis =1)


cd_kk_melt = cd_kk.set_index(['สถานี','id','year','month']).stack().reset_index()
cd_kk_melt.rename(columns={'level_4' : 'day'},inplace=True)
cd_kk_melt.rename(columns={0 : 'จำนวนเมฆ(10ส่วน)'},inplace=True)


cd_kk_melt['province_id'] = len(cd_kk_melt)*['kk']


cd_kk_in = cd_kk_melt[['province_id','year','month','day','จำนวนเมฆ(10ส่วน)']].reset_index()
cd_kk_in_re = cd_kk_in[['province_id','index','year','month','day','จำนวนเมฆ(10ส่วน)']]


cd_kk_in_re["id"] = cd_kk_in_re["province_id"].astype(str) +  cd_kk_in_re["index"].astype(str)


cd_kk_fin = cd_kk_in_re[['id','province_id','year','month','day','จำนวนเมฆ(10ส่วน)']]
cd_kk_fin

<ipython-input-232-6fcb56dd3338>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cd_kk_in_re["id"] = cd_kk_in_re["province_id"].astype(str) +  cd_kk_in_re["index"].astype(str)

          id province_id  year  month  day จำนวนเมฆ(10ส่วน)
0        kk0          kk  2011     10    1                9
1        kk1          kk  2011     10    2               10
2        kk2          kk  2011     10    3               10
3        kk3          kk  2011     10    4                8
4        kk4          kk  2011     10    5               10
...      ...         ...   ...    ...  ...              ...
1700  kk1700          kk  2022      2   27                2
1701  kk1701          kk  2022      2   28                2
1702  kk1702          kk  2022      2   29                -
1703  kk1703          kk  2022      2   30                -
1704  kk1704          kk  2022      2   31                -

[1705 rows x 6 columns]

In [233]:
#อุณหภูมิจุดน้ำค้าง

In [234]:
dp_kk.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
dp_kk.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
dp_kk.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)


dp_kk['year'] = dp_kk['เดือน-ปี'].dt.year
dp_kk['month'] = dp_kk['เดือน-ปี'].dt.month
dp_kk = dp_kk.drop(['เดือน-ปี','Unnamed: 34'], axis =1)


dp_kk_melt = dp_kk.set_index(['สถานี','id','year','month']).stack().reset_index()
dp_kk_melt.rename(columns={'level_4' : 'day'},inplace=True)
dp_kk_melt.rename(columns={0 : 'อุณหภูมิจุดน้ำค้าง(เซลเซียส)'},inplace=True)


dp_kk_melt['province_id'] = len(dp_kk_melt)*['kk']


dp_kk_in = dp_kk_melt[['province_id','year','month','day','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']].reset_index()
dp_kk_in_re = dp_kk_in[['province_id','index','year','month','day','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']]


dp_kk_in_re["id"] = dp_kk_in_re["province_id"].astype(str) +  dp_kk_in_re["index"].astype(str)


dp_kk_fin = dp_kk_in_re[['id','province_id','year','month','day','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']]
dp_kk_fin

<ipython-input-234-d6babe679d21>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dp_kk_in_re["id"] = dp_kk_in_re["province_id"].astype(str) +  dp_kk_in_re["index"].astype(str)

          id province_id  year  month  day อุณหภูมิจุดน้ำค้าง(เซลเซียส)
0        kk0          kk  2011     10    1                         24.2
1        kk1          kk  2011     10    2                         24.0
2        kk2          kk  2011     10    3                         22.9
3        kk3          kk  2011     10    4                         21.9
4        kk4          kk  2011     10    5                         21.7
...      ...         ...   ...    ...  ...                          ...
1700  kk1700          kk  2022      2   27                         15.7
1701  kk1701          kk  2022      2   28                         17.5
1702  kk1702          kk  2022      2   29                            -
1703  kk1703          kk  2022      2   30                            -
1704  kk1704          kk  2022      2   31                            -

[1705 rows x 6 columns]

In [235]:
#อุณหภูมิตุ้มแห้ง

In [236]:
bt_kk.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
bt_kk.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
bt_kk.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)


bt_kk['year'] = bt_kk['เดือน-ปี'].dt.year
bt_kk['month'] = bt_kk['เดือน-ปี'].dt.month
bt_kk = bt_kk.drop(['เดือน-ปี','Unnamed: 34'], axis =1)


bt_kk_melt = bt_kk.set_index(['สถานี','id','year','month']).stack().reset_index()
bt_kk_melt.rename(columns={'level_4' : 'day'},inplace=True)
bt_kk_melt.rename(columns={0 : 'อุณหภูมิตุ้มแห้ง(เซลเซียส)'},inplace=True)


bt_kk_melt['province_id'] = len(bt_kk_melt)*['kk']


bt_kk_in = bt_kk_melt[['province_id','year','month','day','อุณหภูมิตุ้มแห้ง(เซลเซียส)']].reset_index()
bt_kk_in_re = bt_kk_in[['province_id','index','year','month','day','อุณหภูมิตุ้มแห้ง(เซลเซียส)']]


bt_kk_in_re["id"] = bt_kk_in_re["province_id"].astype(str) +  bt_kk_in_re["index"].astype(str)


bt_kk_fin = bt_kk_in_re[['id','province_id','year','month','day','อุณหภูมิตุ้มแห้ง(เซลเซียส)']]
bt_kk_fin

<ipython-input-236-1e2e1757dc02>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bt_kk_in_re["id"] = bt_kk_in_re["province_id"].astype(str) +  bt_kk_in_re["index"].astype(str)

          id province_id  year  month  day อุณหภูมิตุ้มแห้ง(เซลเซียส)
0        kk0          kk  2011     10    1                       27.6
1        kk1          kk  2011     10    2                       25.6
2        kk2          kk  2011     10    3                       25.6
3        kk3          kk  2011     10    4                       25.8
4        kk4          kk  2011     10    5                       24.3
...      ...         ...   ...    ...  ...                        ...
1700  kk1700          kk  2022      2   27                       25.1
1701  kk1701          kk  2022      2   28                       25.9
1702  kk1702          kk  2022      2   29                          -
1703  kk1703          kk  2022      2   30                          -
1704  kk1704          kk  2022      2   31                          -

[1705 rows x 6 columns]

In [237]:
#อุณหภูมิต่ำสุด

In [238]:
lw_kk.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
lw_kk.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
lw_kk.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)


lw_kk['year'] = lw_kk['เดือน-ปี'].dt.year
lw_kk['month'] = lw_kk['เดือน-ปี'].dt.month
lw_kk = lw_kk.drop(['เดือน-ปี','Unnamed: 34'], axis =1)


lw_kk_melt = lw_kk.set_index(['สถานี','id','year','month']).stack().reset_index()
lw_kk_melt.rename(columns={'level_4' : 'day'},inplace=True)
lw_kk_melt.rename(columns={0 : 'อุณหภูมิต่ำสุด(เซลเซียส)'},inplace=True)


lw_kk_melt['province_id'] = len(lw_kk_melt)*['kk']


lw_kk_in = lw_kk_melt[['province_id','year','month','day','อุณหภูมิต่ำสุด(เซลเซียส)']].reset_index()
lw_kk_in_re = lw_kk_in[['province_id','index','year','month','day','อุณหภูมิต่ำสุด(เซลเซียส)']]


lw_kk_in_re["id"] = lw_kk_in_re["province_id"].astype(str) +  lw_kk_in_re["index"].astype(str)


lw_kk_fin = lw_kk_in_re[['id','province_id','year','month','day','อุณหภูมิต่ำสุด(เซลเซียส)']]
lw_kk_fin

<ipython-input-238-3e8271463a43>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lw_kk_in_re["id"] = lw_kk_in_re["province_id"].astype(str) +  lw_kk_in_re["index"].astype(str)

          id province_id  year  month  day อุณหภูมิต่ำสุด(เซลเซียส)
0        kk0          kk  2011     10    1                     24.8
1        kk1          kk  2011     10    2                     23.0
2        kk2          kk  2011     10    3                     22.1
3        kk3          kk  2011     10    4                     22.8
4        kk4          kk  2011     10    5                     23.1
...      ...         ...   ...    ...  ...                      ...
1700  kk1700          kk  2022      2   27                     18.2
1701  kk1701          kk  2022      2   28                        -
1702  kk1702          kk  2022      2   29                        -
1703  kk1703          kk  2022      2   30                        -
1704  kk1704          kk  2022      2   31                        -

[1705 rows x 6 columns]

In [239]:
#ปริมาณน้ำฝน

In [240]:
rain_kk.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
rain_kk.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
rain_kk.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)


rain_kk['year'] = rain_kk['เดือน-ปี'].dt.year
rain_kk['month'] = rain_kk['เดือน-ปี'].dt.month
rain_kk = rain_kk.drop(['เดือน-ปี','Unnamed: 34'], axis =1)


rain_kk_melt = rain_kk.set_index(['สถานี','id','year','month']).stack().reset_index()
rain_kk_melt.rename(columns={'level_4' : 'day'},inplace=True)
rain_kk_melt.rename(columns={0 : 'ปริมาณฝน(มิลลิเมตร)'},inplace=True)


rain_kk_melt['province_id'] = len(rain_kk_melt)*['kk']


rain_kk_in = rain_kk_melt[['province_id','year','month','day','ปริมาณฝน(มิลลิเมตร)']].reset_index()
rain_kk_in_re = rain_kk_in[['province_id','index','year','month','day','ปริมาณฝน(มิลลิเมตร)']]


rain_kk_in_re["id"] = rain_kk_in_re["province_id"].astype(str) +  rain_kk_in_re["index"].astype(str)


rain_kk_fin = rain_kk_in_re[['id','province_id','year','month','day','ปริมาณฝน(มิลลิเมตร)']]
rain_kk_fin

<ipython-input-240-5023bc154da1>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rain_kk_in_re["id"] = rain_kk_in_re["province_id"].astype(str) +  rain_kk_in_re["index"].astype(str)

          id province_id  year  month  day ปริมาณฝน(มิลลิเมตร)
0        kk0          kk  2011     10    1                 1.4
1        kk1          kk  2011     10    2                17.7
2        kk2          kk  2011     10    3                   3
3        kk3          kk  2011     10    4                   0
4        kk4          kk  2011     10    5                 2.2
...      ...         ...   ...    ...  ...                 ...
1700  kk1700          kk  2022      2   27                   0
1701  kk1701          kk  2022      2   28                   -
1702  kk1702          kk  2022      2   29                   -
1703  kk1703          kk  2022      2   30                   -
1704  kk1704          kk  2022      2   31                   -

[1705 rows x 6 columns]

In [241]:
merged_df_kk = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(
            pd.merge(press_kk_fin[['id','province_id','year','month','day','ความกดอากาศ(%)']],
            Humidity_kk_fin[['id','ความชื้นสัมพัทธ์(%)']], on='id'),
            ws_kk_fin[['id','ความเร็วลม(นอต)']], on='id'),
            cd_kk_fin[['id','จำนวนเมฆ(10ส่วน)']], on='id'),
            dp_kk_fin[['id','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']], on='id'),
            bt_kk_fin[['id','อุณหภูมิตุ้มแห้ง(เซลเซียส)']], on='id'),
            lw_kk_fin[['id','อุณหภูมิต่ำสุด(เซลเซียส)']], on='id'),
            rain_kk_fin[['id','ปริมาณฝน(มิลลิเมตร)']], on='id')
merged_df_kk

,id,province_id,year,month,day,ความกดอากาศ(%),ความชื้นสัมพัทธ์(%),ความเร็วลม(นอต),จำนวนเมฆ(10ส่วน),อุณหภูมิจุดน้ำค้าง(เซลเซียส),อุณหภูมิตุ้มแห้ง(เซลเซียส),อุณหภูมิต่ำสุด(เซลเซียส),ปริมาณฝน(มิลลิเมตร)
0,kk0,kk,2011,10,1,1005.47,83,3,9,24.2,27.6,24.8,1.4
1,kk1,kk,2011,10,2,1006.65,92,2,10,24.0,25.6,23.0,17.7
2,kk2,kk,2011,10,3,1007.49,86,3,10,22.9,25.6,22.1,3
3,kk3,kk,2011,10,4,1008.28,80,2,8,21.9,25.8,22.8,0
4,kk4,kk,2011,10,5,1009.88,86,2,10,21.7,24.3,23.1,2.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700,kk1700,kk,2022,2,27,1014.37,58,2,2,15.7,25.1,18.2,0
1701,kk1701,kk,2022,2,28,1013.04,62,2,2,17.5,25.9,-,-
1702,kk1702,kk,2022,2,29,1013.37,-,-,-,-,-,-,-
1703,kk1703,kk,2022,2,30,1013.98,-,-,-,-,-,-,-
1704,kk1704,kk,2022,2,31,-,-,-,-,-,-,-,-

## จังหวัดนครพนม

In [242]:
#ความกดอากาศ
press_nkpanom.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
press_nkpanom.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
press_nkpanom.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
press_nkpanom['year'] = press_nkpanom['เดือน-ปี'].dt.year
press_nkpanom['month'] = press_nkpanom['เดือน-ปี'].dt.month
press_nkpanom = press_nkpanom.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
press_nkpanom_melt = press_nkpanom.set_index(['สถานี','id','year','month']).stack().reset_index()
press_nkpanom_melt.rename(columns={'level_4' : 'day'},inplace=True)
press_nkpanom_melt.rename(columns={0 : 'ความกดอากาศ(%)'},inplace=True)
press_nkpanom_melt['province_id'] = len(press_nkpanom_melt)*['nkpanom']
press_nkpanom_in = press_nkpanom_melt[['province_id','year','month','day','ความกดอากาศ(%)']].reset_index()
press_nkpanom_in_re = press_nkpanom_in[['province_id','index','year','month','day','ความกดอากาศ(%)']]
press_nkpanom_in_re["id"] = press_nkpanom_in_re["province_id"].astype(str) +  press_nkpanom_in_re["index"].astype(str)
press_nkpanom_fin = press_nkpanom_in_re[['id','province_id','year','month','day','ความกดอากาศ(%)']]

#ความชื้นสัมพัทธ์
Humidity_nkpanom.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
Humidity_nkpanom.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
Humidity_nkpanom.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
Humidity_nkpanom['year'] = Humidity_nkpanom['เดือน-ปี'].dt.year
Humidity_nkpanom['month'] = Humidity_nkpanom['เดือน-ปี'].dt.month
Humidity_nkpanom = Humidity_nkpanom.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
Humidity_nkpanom_melt = Humidity_nkpanom.set_index(['สถานี','id','year','month']).stack().reset_index()
Humidity_nkpanom_melt.rename(columns={'level_4' : 'day'},inplace=True)
Humidity_nkpanom_melt.rename(columns={0 : 'ความชื้นสัมพัทธ์(%)'},inplace=True)
Humidity_nkpanom_melt['province_id'] = len(Humidity_nkpanom_melt)*['nkpanom']
Humidity_nkpanom_in = Humidity_nkpanom_melt[['province_id','year','month','day','ความชื้นสัมพัทธ์(%)']].reset_index()
Humidity_nkpanom_in_re = Humidity_nkpanom_in[['province_id','index','year','month','day','ความชื้นสัมพัทธ์(%)']]
Humidity_nkpanom_in_re["id"] = Humidity_nkpanom_in_re["province_id"].astype(str) +  Humidity_nkpanom_in_re["index"].astype(str)
Humidity_nkpanom_fin = Humidity_nkpanom_in_re[['id','province_id','year','month','day','ความชื้นสัมพัทธ์(%)']]

#ความเร็วลม
ws_nkpanom.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
ws_nkpanom.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
ws_nkpanom.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
ws_nkpanom['year'] = ws_nkpanom['เดือน-ปี'].dt.year
ws_nkpanom['month'] = ws_nkpanom['เดือน-ปี'].dt.month
ws_nkpanom = ws_nkpanom.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
ws_nkpanom_melt = ws_nkpanom.set_index(['สถานี','id','year','month']).stack().reset_index()
ws_nkpanom_melt.rename(columns={'level_4' : 'day'},inplace=True)
ws_nkpanom_melt.rename(columns={0 : 'ความเร็วลม(นอต)'},inplace=True)
ws_nkpanom_melt['province_id'] = len(ws_nkpanom_melt)*['nkpanom']
ws_nkpanom_in = ws_nkpanom_melt[['province_id','year','month','day','ความเร็วลม(นอต)']].reset_index()
ws_nkpanom_in_re = ws_nkpanom_in[['province_id','index','year','month','day','ความเร็วลม(นอต)']]
ws_nkpanom_in_re["id"] = ws_nkpanom_in_re["province_id"].astype(str) +  ws_nkpanom_in_re["index"].astype(str)
ws_nkpanom_fin = ws_nkpanom_in_re[['id','province_id','year','month','day','ความเร็วลม(นอต)']]



#จำนวนเมฆ
cd_nkpanom.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
cd_nkpanom.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
cd_nkpanom.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
cd_nkpanom['year'] = cd_nkpanom['เดือน-ปี'].dt.year
cd_nkpanom['month'] = cd_nkpanom['เดือน-ปี'].dt.month
cd_nkpanom = cd_nkpanom.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
cd_nkpanom_melt = cd_nkpanom.set_index(['สถานี','id','year','month']).stack().reset_index()
cd_nkpanom_melt.rename(columns={'level_4' : 'day'},inplace=True)
cd_nkpanom_melt.rename(columns={0 : 'จำนวนเมฆ(10ส่วน)'},inplace=True)
cd_nkpanom_melt['province_id'] = len(cd_nkpanom_melt)*['nkpanom']
cd_nkpanom_in = cd_nkpanom_melt[['province_id','year','month','day','จำนวนเมฆ(10ส่วน)']].reset_index()
cd_nkpanom_in_re = cd_nkpanom_in[['province_id','index','year','month','day','จำนวนเมฆ(10ส่วน)']]
cd_nkpanom_in_re["id"] = cd_nkpanom_in_re["province_id"].astype(str) +  cd_nkpanom_in_re["index"].astype(str)
cd_nkpanom_fin = cd_nkpanom_in_re[['id','province_id','year','month','day','จำนวนเมฆ(10ส่วน)']]


#อุณหภูมิจุดน้ำค้าง
dp_nkpanom.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
dp_nkpanom.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
dp_nkpanom.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
dp_nkpanom['year'] = dp_nkpanom['เดือน-ปี'].dt.year
dp_nkpanom['month'] = dp_nkpanom['เดือน-ปี'].dt.month
dp_nkpanom = dp_nkpanom.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
dp_nkpanom_melt = dp_nkpanom.set_index(['สถานี','id','year','month']).stack().reset_index()
dp_nkpanom_melt.rename(columns={'level_4' : 'day'},inplace=True)
dp_nkpanom_melt.rename(columns={0 : 'อุณหภูมิจุดน้ำค้าง(เซลเซียส)'},inplace=True)
dp_nkpanom_melt['province_id'] = len(dp_nkpanom_melt)*['nkpanom']
dp_nkpanom_in = dp_nkpanom_melt[['province_id','year','month','day','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']].reset_index()
dp_nkpanom_in_re = dp_nkpanom_in[['province_id','index','year','month','day','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']]
dp_nkpanom_in_re["id"] = dp_nkpanom_in_re["province_id"].astype(str) +  dp_nkpanom_in_re["index"].astype(str)
dp_nkpanom_fin = dp_nkpanom_in_re[['id','province_id','year','month','day','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']]


#อุณหภูมิตุ้มแห้ง
bt_nkpanom.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
bt_nkpanom.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
bt_nkpanom.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
bt_nkpanom['year'] = bt_nkpanom['เดือน-ปี'].dt.year
bt_nkpanom['month'] = bt_nkpanom['เดือน-ปี'].dt.month
bt_nkpanom = bt_nkpanom.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
bt_nkpanom_melt = bt_nkpanom.set_index(['สถานี','id','year','month']).stack().reset_index()
bt_nkpanom_melt.rename(columns={'level_4' : 'day'},inplace=True)
bt_nkpanom_melt.rename(columns={0 : 'อุณหภูมิตุ้มแห้ง(เซลเซียส)'},inplace=True)
bt_nkpanom_melt['province_id'] = len(bt_nkpanom_melt)*['nkpanom']
bt_nkpanom_in = bt_nkpanom_melt[['province_id','year','month','day','อุณหภูมิตุ้มแห้ง(เซลเซียส)']].reset_index()
bt_nkpanom_in_re = bt_nkpanom_in[['province_id','index','year','month','day','อุณหภูมิตุ้มแห้ง(เซลเซียส)']]
bt_nkpanom_in_re["id"] = bt_nkpanom_in_re["province_id"].astype(str) +  bt_nkpanom_in_re["index"].astype(str)
bt_nkpanom_fin = bt_nkpanom_in_re[['id','province_id','year','month','day','อุณหภูมิตุ้มแห้ง(เซลเซียส)']]


#อุณหภูมิต่ำสุด
lw_nkpanom.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
lw_nkpanom.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
lw_nkpanom.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
lw_nkpanom['year'] = lw_nkpanom['เดือน-ปี'].dt.year
lw_nkpanom['month'] = lw_nkpanom['เดือน-ปี'].dt.month
lw_nkpanom = lw_nkpanom.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
lw_nkpanom_melt = lw_nkpanom.set_index(['สถานี','id','year','month']).stack().reset_index()
lw_nkpanom_melt.rename(columns={'level_4' : 'day'},inplace=True)
lw_nkpanom_melt.rename(columns={0 : 'อุณหภูมิต่ำสุด(เซลเซียส)'},inplace=True)
lw_nkpanom_melt['province_id'] = len(lw_nkpanom_melt)*['nkpanom']
lw_nkpanom_in = lw_nkpanom_melt[['province_id','year','month','day','อุณหภูมิต่ำสุด(เซลเซียส)']].reset_index()
lw_nkpanom_in_re = lw_nkpanom_in[['province_id','index','year','month','day','อุณหภูมิต่ำสุด(เซลเซียส)']]
lw_nkpanom_in_re["id"] = lw_nkpanom_in_re["province_id"].astype(str) +  lw_nkpanom_in_re["index"].astype(str)
lw_nkpanom_fin = lw_nkpanom_in_re[['id','province_id','year','month','day','อุณหภูมิต่ำสุด(เซลเซียส)']]


#ปริมาณน้ำฝน
rain_nkpanom.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
rain_nkpanom.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
rain_nkpanom.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
rain_nkpanom['year'] = rain_nkpanom['เดือน-ปี'].dt.year
rain_nkpanom['month'] = rain_nkpanom['เดือน-ปี'].dt.month
rain_nkpanom = rain_nkpanom.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
rain_nkpanom_melt = rain_nkpanom.set_index(['สถานี','id','year','month']).stack().reset_index()
rain_nkpanom_melt.rename(columns={'level_4' : 'day'},inplace=True)
rain_nkpanom_melt.rename(columns={0 : 'ปริมาณฝน(มิลลิเมตร)'},inplace=True)
rain_nkpanom_melt['province_id'] = len(rain_nkpanom_melt)*['nkpanom']
rain_nkpanom_in = rain_nkpanom_melt[['province_id','year','month','day','ปริมาณฝน(มิลลิเมตร)']].reset_index()
rain_nkpanom_in_re = rain_nkpanom_in[['province_id','index','year','month','day','ปริมาณฝน(มิลลิเมตร)']]
rain_nkpanom_in_re["id"] = rain_nkpanom_in_re["province_id"].astype(str) +  rain_nkpanom_in_re["index"].astype(str)
rain_nkpanom_fin = rain_nkpanom_in_re[['id','province_id','year','month','day','ปริมาณฝน(มิลลิเมตร)']]


#join
merged_df_nkpanom = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(
            pd.merge(press_nkpanom_fin[['id','province_id','year','month','day','ความกดอากาศ(%)']],
            Humidity_nkpanom_fin[['id','ความชื้นสัมพัทธ์(%)']], on='id'),
            ws_nkpanom_fin[['id','ความเร็วลม(นอต)']], on='id'),
            cd_nkpanom_fin[['id','จำนวนเมฆ(10ส่วน)']], on='id'),
            dp_nkpanom_fin[['id','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']], on='id'),
            bt_nkpanom_fin[['id','อุณหภูมิตุ้มแห้ง(เซลเซียส)']], on='id'),
            lw_nkpanom_fin[['id','อุณหภูมิต่ำสุด(เซลเซียส)']], on='id'),
            rain_nkpanom_fin[['id','ปริมาณฝน(มิลลิเมตร)']], on='id')
merged_df_nkpanom

<ipython-input-242-08406312a995>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  press_nkpanom_in_re["id"] = press_nkpanom_in_re["province_id"].astype(str) +  press_nkpanom_in_re["index"].astype(str)
<ipython-input-242-08406312a995>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Humidity_nkpanom_in_re["id"] = Humidity_nkpanom_in_re["province_id"].astype(str) +  Humidity_nkpanom_in_re["index"].astype(str)
<ipython-input-242-08406312a995>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ws_nkpanom_in_re["id"] = ws_nkpanom_in_re["province_id"].astype(str) +  ws_nkpanom_in_re["index"].astype(str)
<ipython-input-242-08406312a995>:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cd_nkpanom_in_re["id"] = cd_nkpanom_in_re["province_id"].astype(str) +  cd_nkpanom_in_re["index"].astype(str)
<ipython-input-242-08406312a995>:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dp_nkpanom_in_re["id"] = dp_nkpanom_in_re["province_id"].astype(str) +  dp_nkpanom_in_re["index"].astype(str)
<ipython-input-242-08406312a995>:98: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bt_nkpanom_in_re["id"] = bt_nkpanom_in_re["province_id"].astype(str) +  bt_nkpanom_in_re["index"].astype(str)
<ipython-input-242-08406312a995>:115: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lw_nkpanom_in_re["id"] = lw_nkpanom_in_re["province_id"].astype(str) +  lw_nkpanom_in_re["index"].astype(str)
<ipython-input-242-08406312a995>:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rain_nkpanom_in_re["id"] = rain_nkpanom_in_re["province_id"].astype(str) +  rain_nkpanom_in_re["index"].astype(str)

,id,province_id,year,month,day,ความกดอากาศ(%),ความชื้นสัมพัทธ์(%),ความเร็วลม(นอต),จำนวนเมฆ(10ส่วน),อุณหภูมิจุดน้ำค้าง(เซลเซียส),อุณหภูมิตุ้มแห้ง(เซลเซียส),อุณหภูมิต่ำสุด(เซลเซียส),ปริมาณฝน(มิลลิเมตร)
0,nkpanom0,nkpanom,2011,10,1,1006.3,95,1,10,25.1,25.9,25.0,17
1,nkpanom1,nkpanom,2011,10,2,1007.38,84,1,7,23.1,26.1,23.4,0.3
2,nkpanom2,nkpanom,2011,10,3,1008.07,74,2,8,20.1,25.3,22.2,0
3,nkpanom3,nkpanom,2011,10,4,1008.44,72,2,8,18.9,24.7,20.6,0.3
4,nkpanom4,nkpanom,2011,10,5,1010.51,87,1,10,20.7,23.1,21.1,1.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700,nkpanom1700,nkpanom,2022,2,27,1016.43,52,2,1,13.2,24.1,18.1,0
1701,nkpanom1701,nkpanom,2022,2,28,1013.53,60,1,0,14.9,24.0,16,0
1702,nkpanom1702,nkpanom,2022,2,29,1013.37,-,-,-,-,-,-,-
1703,nkpanom1703,nkpanom,2022,2,30,1013.98,-,-,-,-,-,-,-
1704,nkpanom1704,nkpanom,2022,2,31,-,-,-,-,-,-,-,-

## จังหวัดสกลนคร

In [243]:
#ความกดอากาศ
press_sknk.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
press_sknk.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
press_sknk.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
press_sknk['year'] = press_sknk['เดือน-ปี'].dt.year
press_sknk['month'] = press_sknk['เดือน-ปี'].dt.month
press_sknk = press_sknk.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
press_sknk_melt = press_sknk.set_index(['สถานี','id','year','month']).stack().reset_index()
press_sknk_melt.rename(columns={'level_4' : 'day'},inplace=True)
press_sknk_melt.rename(columns={0 : 'ความกดอากาศ(%)'},inplace=True)
press_sknk_melt['province_id'] = len(press_sknk_melt)*['sknk']
press_sknk_in = press_sknk_melt[['province_id','year','month','day','ความกดอากาศ(%)']].reset_index()
press_sknk_in_re = press_sknk_in[['province_id','index','year','month','day','ความกดอากาศ(%)']]
press_sknk_in_re["id"] = press_sknk_in_re["province_id"].astype(str) +  press_sknk_in_re["index"].astype(str)
press_sknk_fin = press_sknk_in_re[['id','province_id','year','month','day','ความกดอากาศ(%)']]

#ความชื้นสัมพัทธ์
Humidity_sknk.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
Humidity_sknk.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
Humidity_sknk.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
Humidity_sknk['year'] = Humidity_sknk['เดือน-ปี'].dt.year
Humidity_sknk['month'] = Humidity_sknk['เดือน-ปี'].dt.month
Humidity_sknk = Humidity_sknk.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
Humidity_sknk_melt = Humidity_sknk.set_index(['สถานี','id','year','month']).stack().reset_index()
Humidity_sknk_melt.rename(columns={'level_4' : 'day'},inplace=True)
Humidity_sknk_melt.rename(columns={0 : 'ความชื้นสัมพัทธ์(%)'},inplace=True)
Humidity_sknk_melt['province_id'] = len(Humidity_sknk_melt)*['sknk']
Humidity_sknk_in = Humidity_sknk_melt[['province_id','year','month','day','ความชื้นสัมพัทธ์(%)']].reset_index()
Humidity_sknk_in_re = Humidity_sknk_in[['province_id','index','year','month','day','ความชื้นสัมพัทธ์(%)']]
Humidity_sknk_in_re["id"] = Humidity_sknk_in_re["province_id"].astype(str) +  Humidity_sknk_in_re["index"].astype(str)
Humidity_sknk_fin = Humidity_sknk_in_re[['id','province_id','year','month','day','ความชื้นสัมพัทธ์(%)']]

#ความเร็วลม
ws_sknk.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
ws_sknk.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
ws_sknk.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
ws_sknk['year'] = ws_sknk['เดือน-ปี'].dt.year
ws_sknk['month'] = ws_sknk['เดือน-ปี'].dt.month
ws_sknk = ws_sknk.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
ws_sknk_melt = ws_sknk.set_index(['สถานี','id','year','month']).stack().reset_index()
ws_sknk_melt.rename(columns={'level_4' : 'day'},inplace=True)
ws_sknk_melt.rename(columns={0 : 'ความเร็วลม(นอต)'},inplace=True)
ws_sknk_melt['province_id'] = len(ws_sknk_melt)*['sknk']
ws_sknk_in = ws_sknk_melt[['province_id','year','month','day','ความเร็วลม(นอต)']].reset_index()
ws_sknk_in_re = ws_sknk_in[['province_id','index','year','month','day','ความเร็วลม(นอต)']]
ws_sknk_in_re["id"] = ws_sknk_in_re["province_id"].astype(str) +  ws_sknk_in_re["index"].astype(str)
ws_sknk_fin = ws_sknk_in_re[['id','province_id','year','month','day','ความเร็วลม(นอต)']]

#จำนวนเมฆ
cd_sknk.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
cd_sknk.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
cd_sknk.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
cd_sknk['year'] = cd_sknk['เดือน-ปี'].dt.year
cd_sknk['month'] = cd_sknk['เดือน-ปี'].dt.month
cd_sknk = cd_sknk.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
cd_sknk_melt = cd_sknk.set_index(['สถานี','id','year','month']).stack().reset_index()
cd_sknk_melt.rename(columns={'level_4' : 'day'},inplace=True)
cd_sknk_melt.rename(columns={0 : 'จำนวนเมฆ(10ส่วน)'},inplace=True)
cd_sknk_melt['province_id'] = len(cd_sknk_melt)*['sknk']
cd_sknk_in = cd_sknk_melt[['province_id','year','month','day','จำนวนเมฆ(10ส่วน)']].reset_index()
cd_sknk_in_re = cd_sknk_in[['province_id','index','year','month','day','จำนวนเมฆ(10ส่วน)']]
cd_sknk_in_re["id"] = cd_sknk_in_re["province_id"].astype(str) +  cd_sknk_in_re["index"].astype(str)
cd_sknk_fin = cd_sknk_in_re[['id','province_id','year','month','day','จำนวนเมฆ(10ส่วน)']]

#อุณหภูมิจุดน้ำค้าง
dp_sknk.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
dp_sknk.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
dp_sknk.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
dp_sknk['year'] = dp_sknk['เดือน-ปี'].dt.year
dp_sknk['month'] = dp_sknk['เดือน-ปี'].dt.month
dp_sknk = dp_sknk.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
dp_sknk_melt = dp_sknk.set_index(['สถานี','id','year','month']).stack().reset_index()
dp_sknk_melt.rename(columns={'level_4' : 'day'},inplace=True)
dp_sknk_melt.rename(columns={0 : 'อุณหภูมิจุดน้ำค้าง(เซลเซียส)'},inplace=True)
dp_sknk_melt['province_id'] = len(dp_sknk_melt)*['sknk']
dp_sknk_in = dp_sknk_melt[['province_id','year','month','day','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']].reset_index()
dp_sknk_in_re = dp_sknk_in[['province_id','index','year','month','day','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']]
dp_sknk_in_re["id"] = dp_sknk_in_re["province_id"].astype(str) +  dp_sknk_in_re["index"].astype(str)
dp_sknk_fin = dp_sknk_in_re[['id','province_id','year','month','day','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']]

#อุณหภูมิตุ้มแห้ง
bt_sknk.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
bt_sknk.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
bt_sknk.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
bt_sknk['year'] = bt_sknk['เดือน-ปี'].dt.year
bt_sknk['month'] = bt_sknk['เดือน-ปี'].dt.month
bt_sknk = bt_sknk.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
bt_sknk_melt = bt_sknk.set_index(['สถานี','id','year','month']).stack().reset_index()
bt_sknk_melt.rename(columns={'level_4' : 'day'},inplace=True)
bt_sknk_melt.rename(columns={0 : 'อุณหภูมิตุ้มแห้ง(เซลเซียส)'},inplace=True)
bt_sknk_melt['province_id'] = len(bt_sknk_melt)*['sknk']
bt_sknk_in = bt_sknk_melt[['province_id','year','month','day','อุณหภูมิตุ้มแห้ง(เซลเซียส)']].reset_index()
bt_sknk_in_re = bt_sknk_in[['province_id','index','year','month','day','อุณหภูมิตุ้มแห้ง(เซลเซียส)']]
bt_sknk_in_re["id"] = bt_sknk_in_re["province_id"].astype(str) +  bt_sknk_in_re["index"].astype(str)
bt_sknk_fin = bt_sknk_in_re[['id','province_id','year','month','day','อุณหภูมิตุ้มแห้ง(เซลเซียส)']]

#อุณหภูมิต่ำสุด
lw_sknk.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
lw_sknk.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
lw_sknk.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
lw_sknk['year'] = lw_sknk['เดือน-ปี'].dt.year
lw_sknk['month'] = lw_sknk['เดือน-ปี'].dt.month
lw_sknk = lw_sknk.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
lw_sknk_melt = lw_sknk.set_index(['สถานี','id','year','month']).stack().reset_index()
lw_sknk_melt.rename(columns={'level_4' : 'day'},inplace=True)
lw_sknk_melt.rename(columns={0 : 'อุณหภูมิต่ำสุด(เซลเซียส)'},inplace=True)
lw_sknk_melt['province_id'] = len(lw_sknk_melt)*['sknk']
lw_sknk_in = lw_sknk_melt[['province_id','year','month','day','อุณหภูมิต่ำสุด(เซลเซียส)']].reset_index()
lw_sknk_in_re = lw_sknk_in[['province_id','index','year','month','day','อุณหภูมิต่ำสุด(เซลเซียส)']]
lw_sknk_in_re["id"] = lw_sknk_in_re["province_id"].astype(str) +  lw_sknk_in_re["index"].astype(str)
lw_sknk_fin = lw_sknk_in_re[['id','province_id','year','month','day','อุณหภูมิต่ำสุด(เซลเซียส)']]

#ปริมาณน้ำฝน
rain_sknk.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
rain_sknk.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
rain_sknk.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
rain_sknk['year'] = rain_sknk['เดือน-ปี'].dt.year
rain_sknk['month'] = rain_sknk['เดือน-ปี'].dt.month
rain_sknk = rain_sknk.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
rain_sknk_melt = rain_sknk.set_index(['สถานี','id','year','month']).stack().reset_index()
rain_sknk_melt.rename(columns={'level_4' : 'day'},inplace=True)
rain_sknk_melt.rename(columns={0 : 'ปริมาณฝน(มิลลิเมตร)'},inplace=True)
rain_sknk_melt['province_id'] = len(rain_sknk_melt)*['sknk']
rain_sknk_in = rain_sknk_melt[['province_id','year','month','day','ปริมาณฝน(มิลลิเมตร)']].reset_index()
rain_sknk_in_re = rain_sknk_in[['province_id','index','year','month','day','ปริมาณฝน(มิลลิเมตร)']]
rain_sknk_in_re["id"] = rain_sknk_in_re["province_id"].astype(str) +  rain_sknk_in_re["index"].astype(str)
rain_sknk_fin = rain_sknk_in_re[['id','province_id','year','month','day','ปริมาณฝน(มิลลิเมตร)']]

#join
merged_df_sknk = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(
            pd.merge(press_sknk_fin[['id','province_id','year','month','day','ความกดอากาศ(%)']],
            Humidity_sknk_fin[['id','ความชื้นสัมพัทธ์(%)']], on='id'),
            ws_sknk_fin[['id','ความเร็วลม(นอต)']], on='id'),
            cd_sknk_fin[['id','จำนวนเมฆ(10ส่วน)']], on='id'),
            dp_sknk_fin[['id','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']], on='id'),
            bt_sknk_fin[['id','อุณหภูมิตุ้มแห้ง(เซลเซียส)']], on='id'),
            lw_sknk_fin[['id','อุณหภูมิต่ำสุด(เซลเซียส)']], on='id'),
            rain_sknk_fin[['id','ปริมาณฝน(มิลลิเมตร)']], on='id')
merged_df_sknk

<ipython-input-243-8f2e73d0517f>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  press_sknk_in_re["id"] = press_sknk_in_re["province_id"].astype(str) +  press_sknk_in_re["index"].astype(str)
<ipython-input-243-8f2e73d0517f>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Humidity_sknk_in_re["id"] = Humidity_sknk_in_re["province_id"].astype(str) +  Humidity_sknk_in_re["index"].astype(str)
<ipython-input-243-8f2e73d0517f>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ws_sknk_in_re["id"] = ws_sknk_in_re["province_id"].astype(str) +  ws_sknk_in_re["index"].astype(str)
<ipython-input-243-8f2e73d0517f>:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cd_sknk_in_re["id"] = cd_sknk_in_re["province_id"].astype(str) +  cd_sknk_in_re["index"].astype(str)
<ipython-input-243-8f2e73d0517f>:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dp_sknk_in_re["id"] = dp_sknk_in_re["province_id"].astype(str) +  dp_sknk_in_re["index"].astype(str)
<ipython-input-243-8f2e73d0517f>:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bt_sknk_in_re["id"] = bt_sknk_in_re["province_id"].astype(str) +  bt_sknk_in_re["index"].astype(str)
<ipython-input-243-8f2e73d0517f>:110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lw_sknk_in_re["id"] = lw_sknk_in_re["province_id"].astype(str) +  lw_sknk_in_re["index"].astype(str)
<ipython-input-243-8f2e73d0517f>:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rain_sknk_in_re["id"] = rain_sknk_in_re["province_id"].astype(str) +  rain_sknk_in_re["index"].astype(str)

,id,province_id,year,month,day,ความกดอากาศ(%),ความชื้นสัมพัทธ์(%),ความเร็วลม(นอต),จำนวนเมฆ(10ส่วน),อุณหภูมิจุดน้ำค้าง(เซลเซียส),อุณหภูมิตุ้มแห้ง(เซลเซียส),อุณหภูมิต่ำสุด(เซลเซียส),ปริมาณฝน(มิลลิเมตร)
0,sknk0,sknk,2011,10,1,1005.84,87,1,9,24.5,26.9,24.5,84.8
1,sknk1,sknk,2011,10,2,1007.16,88,1,9,23.6,25.9,23.1,28.1
2,sknk2,sknk,2011,10,3,1007.87,77,2,7,21.1,25.7,22.6,0
3,sknk3,sknk,2011,10,4,1008.56,75,2,7,20.0,25.2,21.8,T
4,sknk4,sknk,2011,10,5,1010.55,87,1,9,21.2,23.6,22.5,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700,sknk1700,sknk,2022,2,27,1014.95,65,3,3,15.7,23.2,16.1,0
1701,sknk1701,sknk,2022,2,28,1012.89,68,2,0,17.3,24.4,-,-
1702,sknk1702,sknk,2022,2,29,1013.37,-,-,1,-,-,-,-
1703,sknk1703,sknk,2022,2,30,1013.98,-,-,1,-,-,-,-
1704,sknk1704,sknk,2022,2,31,-,-,-,-,-,-,-,-

## จังหวัดหนองคาย

In [244]:
#ความกดอากาศ
press_nongcry.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
press_nongcry.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
press_nongcry.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
press_nongcry['year'] = press_nongcry['เดือน-ปี'].dt.year
press_nongcry['month'] = press_nongcry['เดือน-ปี'].dt.month
press_nongcry = press_nongcry.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
press_nongcry_melt = press_nongcry.set_index(['สถานี','id','year','month']).stack().reset_index()
press_nongcry_melt.rename(columns={'level_4' : 'day'},inplace=True)
press_nongcry_melt.rename(columns={0 : 'ความกดอากาศ(%)'},inplace=True)
press_nongcry_melt['province_id'] = len(press_nongcry_melt)*['nongcry']
press_nongcry_in = press_nongcry_melt[['province_id','year','month','day','ความกดอากาศ(%)']].reset_index()
press_nongcry_in_re = press_nongcry_in[['province_id','index','year','month','day','ความกดอากาศ(%)']]
press_nongcry_in_re["id"] = press_nongcry_in_re["province_id"].astype(str) +  press_nongcry_in_re["index"].astype(str)
press_nongcry_fin = press_nongcry_in_re[['id','province_id','year','month','day','ความกดอากาศ(%)']]

#ความชื้นสัมพัทธ์
Humidity_nongcry.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
Humidity_nongcry.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
Humidity_nongcry.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
Humidity_nongcry['year'] = Humidity_nongcry['เดือน-ปี'].dt.year
Humidity_nongcry['month'] = Humidity_nongcry['เดือน-ปี'].dt.month
Humidity_nongcry = Humidity_nongcry.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
Humidity_nongcry_melt = Humidity_nongcry.set_index(['สถานี','id','year','month']).stack().reset_index()
Humidity_nongcry_melt.rename(columns={'level_4' : 'day'},inplace=True)
Humidity_nongcry_melt.rename(columns={0 : 'ความชื้นสัมพัทธ์(%)'},inplace=True)
Humidity_nongcry_melt['province_id'] = len(Humidity_nongcry_melt)*['nongcry']
Humidity_nongcry_in = Humidity_nongcry_melt[['province_id','year','month','day','ความชื้นสัมพัทธ์(%)']].reset_index()
Humidity_nongcry_in_re = Humidity_nongcry_in[['province_id','index','year','month','day','ความชื้นสัมพัทธ์(%)']]
Humidity_nongcry_in_re["id"] = Humidity_nongcry_in_re["province_id"].astype(str) +  Humidity_nongcry_in_re["index"].astype(str)
Humidity_nongcry_fin = Humidity_nongcry_in_re[['id','province_id','year','month','day','ความชื้นสัมพัทธ์(%)']]

#ความเร็วลม
ws_nongcry.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
ws_nongcry.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
ws_nongcry.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
ws_nongcry['year'] = ws_nongcry['เดือน-ปี'].dt.year
ws_nongcry['month'] = ws_nongcry['เดือน-ปี'].dt.month
ws_nongcry = ws_nongcry.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
ws_nongcry_melt = ws_nongcry.set_index(['สถานี','id','year','month']).stack().reset_index()
ws_nongcry_melt.rename(columns={'level_4' : 'day'},inplace=True)
ws_nongcry_melt.rename(columns={0 : 'ความเร็วลม(นอต)'},inplace=True)
ws_nongcry_melt['province_id'] = len(ws_nongcry_melt)*['nongcry']
ws_nongcry_in = ws_nongcry_melt[['province_id','year','month','day','ความเร็วลม(นอต)']].reset_index()
ws_nongcry_in_re = ws_nongcry_in[['province_id','index','year','month','day','ความเร็วลม(นอต)']]
ws_nongcry_in_re["id"] = ws_nongcry_in_re["province_id"].astype(str) +  ws_nongcry_in_re["index"].astype(str)
ws_nongcry_fin = ws_nongcry_in_re[['id','province_id','year','month','day','ความเร็วลม(นอต)']]

#จำนวนเมฆ
cd_nongcry.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
cd_nongcry.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
cd_nongcry.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
cd_nongcry['year'] = cd_nongcry['เดือน-ปี'].dt.year
cd_nongcry['month'] = cd_nongcry['เดือน-ปี'].dt.month
cd_nongcry = cd_nongcry.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
cd_nongcry_melt = cd_nongcry.set_index(['สถานี','id','year','month']).stack().reset_index()
cd_nongcry_melt.rename(columns={'level_4' : 'day'},inplace=True)
cd_nongcry_melt.rename(columns={0 : 'จำนวนเมฆ(10ส่วน)'},inplace=True)
cd_nongcry_melt['province_id'] = len(cd_nongcry_melt)*['nongcry']
cd_nongcry_in = cd_nongcry_melt[['province_id','year','month','day','จำนวนเมฆ(10ส่วน)']].reset_index()
cd_nongcry_in_re = cd_nongcry_in[['province_id','index','year','month','day','จำนวนเมฆ(10ส่วน)']]
cd_nongcry_in_re["id"] = cd_nongcry_in_re["province_id"].astype(str) +  cd_nongcry_in_re["index"].astype(str)
cd_nongcry_fin = cd_nongcry_in_re[['id','province_id','year','month','day','จำนวนเมฆ(10ส่วน)']]

#อุณหภูมิจุดน้ำค้าง
dp_nongcry.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
dp_nongcry.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
dp_nongcry.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
dp_nongcry['year'] = dp_nongcry['เดือน-ปี'].dt.year
dp_nongcry['month'] = dp_nongcry['เดือน-ปี'].dt.month
dp_nongcry = dp_nongcry.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
dp_nongcry_melt = dp_nongcry.set_index(['สถานี','id','year','month']).stack().reset_index()
dp_nongcry_melt.rename(columns={'level_4' : 'day'},inplace=True)
dp_nongcry_melt.rename(columns={0 : 'อุณหภูมิจุดน้ำค้าง(เซลเซียส)'},inplace=True)
dp_nongcry_melt['province_id'] = len(dp_nongcry_melt)*['nongcry']
dp_nongcry_in = dp_nongcry_melt[['province_id','year','month','day','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']].reset_index()
dp_nongcry_in_re = dp_nongcry_in[['province_id','index','year','month','day','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']]
dp_nongcry_in_re["id"] = dp_nongcry_in_re["province_id"].astype(str) +  dp_nongcry_in_re["index"].astype(str)
dp_nongcry_fin = dp_nongcry_in_re[['id','province_id','year','month','day','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']]

#อุณหภูมิตุ้มแห้ง
bt_nongcry.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
bt_nongcry.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
bt_nongcry.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
bt_nongcry['year'] = bt_nongcry['เดือน-ปี'].dt.year
bt_nongcry['month'] = bt_nongcry['เดือน-ปี'].dt.month
bt_nongcry = bt_nongcry.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
bt_nongcry_melt = bt_nongcry.set_index(['สถานี','id','year','month']).stack().reset_index()
bt_nongcry_melt.rename(columns={'level_4' : 'day'},inplace=True)
bt_nongcry_melt.rename(columns={0 : 'อุณหภูมิตุ้มแห้ง(เซลเซียส)'},inplace=True)
bt_nongcry_melt['province_id'] = len(bt_nongcry_melt)*['nongcry']
bt_nongcry_in = bt_nongcry_melt[['province_id','year','month','day','อุณหภูมิตุ้มแห้ง(เซลเซียส)']].reset_index()
bt_nongcry_in_re = bt_nongcry_in[['province_id','index','year','month','day','อุณหภูมิตุ้มแห้ง(เซลเซียส)']]
bt_nongcry_in_re["id"] = bt_nongcry_in_re["province_id"].astype(str) +  bt_nongcry_in_re["index"].astype(str)
bt_nongcry_fin = bt_nongcry_in_re[['id','province_id','year','month','day','อุณหภูมิตุ้มแห้ง(เซลเซียส)']]

#อุณหภูมิต่ำสุด
lw_nongcry.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
lw_nongcry.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
lw_nongcry.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
lw_nongcry['year'] = lw_nongcry['เดือน-ปี'].dt.year
lw_nongcry['month'] = lw_nongcry['เดือน-ปี'].dt.month
lw_nongcry = lw_nongcry.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
lw_nongcry_melt = lw_nongcry.set_index(['สถานี','id','year','month']).stack().reset_index()
lw_nongcry_melt.rename(columns={'level_4' : 'day'},inplace=True)
lw_nongcry_melt.rename(columns={0 : 'อุณหภูมิต่ำสุด(เซลเซียส)'},inplace=True)
lw_nongcry_melt['province_id'] = len(lw_nongcry_melt)*['nongcry']
lw_nongcry_in = lw_nongcry_melt[['province_id','year','month','day','อุณหภูมิต่ำสุด(เซลเซียส)']].reset_index()
lw_nongcry_in_re = lw_nongcry_in[['province_id','index','year','month','day','อุณหภูมิต่ำสุด(เซลเซียส)']]
lw_nongcry_in_re["id"] = lw_nongcry_in_re["province_id"].astype(str) +  lw_nongcry_in_re["index"].astype(str)
lw_nongcry_fin = lw_nongcry_in_re[['id','province_id','year','month','day','อุณหภูมิต่ำสุด(เซลเซียส)']]

#ปริมาณน้ำฝน
rain_nongcry.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
rain_nongcry.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
rain_nongcry.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
rain_nongcry['year'] = rain_nongcry['เดือน-ปี'].dt.year
rain_nongcry['month'] = rain_nongcry['เดือน-ปี'].dt.month
rain_nongcry = rain_nongcry.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
rain_nongcry_melt = rain_nongcry.set_index(['สถานี','id','year','month']).stack().reset_index()
rain_nongcry_melt.rename(columns={'level_4' : 'day'},inplace=True)
rain_nongcry_melt.rename(columns={0 : 'ปริมาณฝน(มิลลิเมตร)'},inplace=True)
rain_nongcry_melt['province_id'] = len(rain_nongcry_melt)*['nongcry']
rain_nongcry_in = rain_nongcry_melt[['province_id','year','month','day','ปริมาณฝน(มิลลิเมตร)']].reset_index()
rain_nongcry_in_re = rain_nongcry_in[['province_id','index','year','month','day','ปริมาณฝน(มิลลิเมตร)']]
rain_nongcry_in_re["id"] = rain_nongcry_in_re["province_id"].astype(str) +  rain_nongcry_in_re["index"].astype(str)
rain_nongcry_fin = rain_nongcry_in_re[['id','province_id','year','month','day','ปริมาณฝน(มิลลิเมตร)']]

#join
merged_df_nongcry = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(
            pd.merge(press_nongcry_fin[['id','province_id','year','month','day','ความกดอากาศ(%)']],
            Humidity_nongcry_fin[['id','ความชื้นสัมพัทธ์(%)']], on='id'),
            ws_nongcry_fin[['id','ความเร็วลม(นอต)']], on='id'),
            cd_nongcry_fin[['id','จำนวนเมฆ(10ส่วน)']], on='id'),
            dp_nongcry_fin[['id','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']], on='id'),
            bt_nongcry_fin[['id','อุณหภูมิตุ้มแห้ง(เซลเซียส)']], on='id'),
            lw_nongcry_fin[['id','อุณหภูมิต่ำสุด(เซลเซียส)']], on='id'),
            rain_nongcry_fin[['id','ปริมาณฝน(มิลลิเมตร)']], on='id')
merged_df_nongcry

<ipython-input-244-6b9eef14c2c8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  press_nongcry_in_re["id"] = press_nongcry_in_re["province_id"].astype(str) +  press_nongcry_in_re["index"].astype(str)
<ipython-input-244-6b9eef14c2c8>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Humidity_nongcry_in_re["id"] = Humidity_nongcry_in_re["province_id"].astype(str) +  Humidity_nongcry_in_re["index"].astype(str)
<ipython-input-244-6b9eef14c2c8>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ws_nongcry_in_re["id"] = ws_nongcry_in_re["province_id"].astype(str) +  ws_nongcry_in_re["index"].astype(str)
<ipython-input-244-6b9eef14c2c8>:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cd_nongcry_in_re["id"] = cd_nongcry_in_re["province_id"].astype(str) +  cd_nongcry_in_re["index"].astype(str)
<ipython-input-244-6b9eef14c2c8>:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dp_nongcry_in_re["id"] = dp_nongcry_in_re["province_id"].astype(str) +  dp_nongcry_in_re["index"].astype(str)
<ipython-input-244-6b9eef14c2c8>:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bt_nongcry_in_re["id"] = bt_nongcry_in_re["province_id"].astype(str) +  bt_nongcry_in_re["index"].astype(str)
<ipython-input-244-6b9eef14c2c8>:110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lw_nongcry_in_re["id"] = lw_nongcry_in_re["province_id"].astype(str) +  lw_nongcry_in_re["index"].astype(str)
<ipython-input-244-6b9eef14c2c8>:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rain_nongcry_in_re["id"] = rain_nongcry_in_re["province_id"].astype(str) +  rain_nongcry_in_re["index"].astype(str)

,id,province_id,year,month,day,ความกดอากาศ(%),ความชื้นสัมพัทธ์(%),ความเร็วลม(นอต),จำนวนเมฆ(10ส่วน),อุณหภูมิจุดน้ำค้าง(เซลเซียส),อุณหภูมิตุ้มแห้ง(เซลเซียส),อุณหภูมิต่ำสุด(เซลเซียส),ปริมาณฝน(มิลลิเมตร)
0,nongcry0,nongcry,2011,10,1,1005.34,89,1,10,24.6,26.7,25.3,48.6
1,nongcry1,nongcry,2011,10,2,1006.67,91,4,10,23.8,25.5,23.3,59
2,nongcry2,nongcry,2011,10,3,1007.39,78,4,8,22.4,27.0,23.6,0
3,nongcry3,nongcry,2011,10,4,1008.11,75,2,9,21.9,26.8,23.8,1
4,nongcry4,nongcry,2011,10,5,1009.69,90,1,9,23.3,24.9,23.3,19.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1697,nongcry1697,nongcry,2022,2,24,1019.23,66,2,3,13.2,20.3,14.0,0
1698,nongcry1698,nongcry,2022,2,25,1018.46,68,2,2,14.3,20.7,13.9,0
1699,nongcry1699,nongcry,2022,2,26,1016.68,65,1,1,15.2,22.7,15.0,0
1700,nongcry1700,nongcry,2022,2,27,1015.31,62,2,1,15.8,23.8,17.5,0
1701,nongcry1701,nongcry,2022,2,28,1013.06,65,2,-,17.8,25.4,19,0

## จังหวัดเลย

In [245]:
#ความกดอากาศ
press_loey.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
press_loey.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
press_loey.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
press_loey['year'] = press_loey['เดือน-ปี'].dt.year
press_loey['month'] = press_loey['เดือน-ปี'].dt.month
press_loey = press_loey.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
press_loey_melt = press_loey.set_index(['สถานี','id','year','month']).stack().reset_index()
press_loey_melt.rename(columns={'level_4' : 'day'},inplace=True)
press_loey_melt.rename(columns={0 : 'ความกดอากาศ(%)'},inplace=True)
press_loey_melt['province_id'] = len(press_loey_melt)*['loey']
press_loey_in = press_loey_melt[['province_id','year','month','day','ความกดอากาศ(%)']].reset_index()
press_loey_in_re = press_loey_in[['province_id','index','year','month','day','ความกดอากาศ(%)']]
press_loey_in_re["id"] = press_loey_in_re["province_id"].astype(str) +  press_loey_in_re["index"].astype(str)
press_loey_fin = press_loey_in_re[['id','province_id','year','month','day','ความกดอากาศ(%)']]

#ความชื้นสัมพัทธ์
Humidity_loey.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
Humidity_loey.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
Humidity_loey.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
Humidity_loey['year'] = Humidity_loey['เดือน-ปี'].dt.year
Humidity_loey['month'] = Humidity_loey['เดือน-ปี'].dt.month
Humidity_loey = Humidity_loey.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
Humidity_loey_melt = Humidity_loey.set_index(['สถานี','id','year','month']).stack().reset_index()
Humidity_loey_melt.rename(columns={'level_4' : 'day'},inplace=True)
Humidity_loey_melt.rename(columns={0 : 'ความชื้นสัมพัทธ์(%)'},inplace=True)
Humidity_loey_melt['province_id'] = len(Humidity_loey_melt)*['loey']
Humidity_loey_in = Humidity_loey_melt[['province_id','year','month','day','ความชื้นสัมพัทธ์(%)']].reset_index()
Humidity_loey_in_re = Humidity_loey_in[['province_id','index','year','month','day','ความชื้นสัมพัทธ์(%)']]
Humidity_loey_in_re["id"] = Humidity_loey_in_re["province_id"].astype(str) +  Humidity_loey_in_re["index"].astype(str)
Humidity_loey_fin = Humidity_loey_in_re[['id','province_id','year','month','day','ความชื้นสัมพัทธ์(%)']]

#ความเร็วลม
ws_loey.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
ws_loey.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
ws_loey.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
ws_loey['year'] = ws_loey['เดือน-ปี'].dt.year
ws_loey['month'] = ws_loey['เดือน-ปี'].dt.month
ws_loey = ws_loey.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
ws_loey_melt = ws_loey.set_index(['สถานี','id','year','month']).stack().reset_index()
ws_loey_melt.rename(columns={'level_4' : 'day'},inplace=True)
ws_loey_melt.rename(columns={0 : 'ความเร็วลม(นอต)'},inplace=True)
ws_loey_melt['province_id'] = len(ws_loey_melt)*['loey']
ws_loey_in = ws_loey_melt[['province_id','year','month','day','ความเร็วลม(นอต)']].reset_index()
ws_loey_in_re = ws_loey_in[['province_id','index','year','month','day','ความเร็วลม(นอต)']]
ws_loey_in_re["id"] = ws_loey_in_re["province_id"].astype(str) +  ws_loey_in_re["index"].astype(str)
ws_loey_fin = ws_loey_in_re[['id','province_id','year','month','day','ความเร็วลม(นอต)']]

#จำนวนเมฆ
cd_loey.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
cd_loey.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
cd_loey.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
cd_loey['year'] = cd_loey['เดือน-ปี'].dt.year
cd_loey['month'] = cd_loey['เดือน-ปี'].dt.month
cd_loey = cd_loey.drop(['เดือน-ปี','Unnamed: 34'], axis =1)

<ipython-input-245-be7c71a787c6>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  press_loey_in_re["id"] = press_loey_in_re["province_id"].astype(str) +  press_loey_in_re["index"].astype(str)
<ipython-input-245-be7c71a787c6>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Humidity_loey_in_re["id"] = Humidity_loey_in_re["province_id"].astype(str) +  Humidity_loey_in_re["index"].astype(str)
<ipython-input-245-be7c71a787c6>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ws_loey_in_re["id"] = ws_loey_in_re["province_id"].astype(str) +  ws_loey_in_re["index"].astype(str)

ตรวจสอบค่าต่างๆในตารางจังหวัดเลยของจำนวนก้อนเมฆว่ามีคอลัมน์ที่เกินมาหรือไม่

In [246]:
cd_loey.head()

,id,สถานี,1,2,3,4,5,6,7,8,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,year,month
0,1,353301-เลย สกษ. จ.เลย,8,10,10,9,8,10,10,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,10
1,2,353301-เลย สกษ. จ.เลย,2,1,2,1,1,1,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,11
2,3,353301-เลย สกษ. จ.เลย,1,3,1,3,3,2,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,12
3,1,353301-เลย สกษ. จ.เลย,1,1,3,6,6,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,1
4,2,353301-เลย สกษ. จ.เลย,8,5,10,7,1,0,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2

In [247]:
cd_loey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 45 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           55 non-null     object
 1   สถานี        55 non-null     object
 2   1            55 non-null     object
 3   2            55 non-null     object
 4   3            55 non-null     object
 5   4            55 non-null     object
 6   5            55 non-null     object
 7   6            55 non-null     object
 8   7            55 non-null     object
 9   8            55 non-null     object
 10  9            55 non-null     object
 11  10           55 non-null     object
 12  11           55 non-null     object
 13  12           55 non-null     object
 14  13           55 non-null     object
 15  14           55 non-null     object
 16  15           55 non-null     object
 17  16           55 non-null     object
 18  17           55 non-null     object
 19  18           55 non-null     object
 20  19           55 non-null     object
 21  20           55 non-null     object
 22  21           55 non-null     object
 23  22           55 non-null     object
 24  23           55 non-null     object
 25  24           55 non-null     object
 26  25           55 non-null     object
 27  26           55 non-null     object
 28  27           55 non-null     object
 29  28           55 non-null     object
 30  29           55 non-null     object
 31  30           55 non-null     object
 32  31           55 non-null     object
 33  Unnamed: 35  1 non-null      float64
 34  Unnamed: 36  1 non-null      float64
 35  Unnamed: 37  1 non-null      float64
 36  Unnamed: 38  1 non-null      float64
 37  Unnamed: 39  1 non-null      float64
 38  Unnamed: 40  1 non-null      float64
 39  Unnamed: 41  1 non-null      float64
 40  Unnamed: 42  1 non-null      float64
 41  Unnamed: 43  1 non-null      float64
 42  Unnamed: 44  1 non-null      float64
 43  year         55 non-null     int64
 44  month        55 non-null     int64
dtypes: float64(10), int64(2), object(33)
memory usage: 19.5+ KB

จากนั้นทำการลบคอลัมน์ที่มีค่าเหล่านั้นที่เกินมาออก

In [248]:
cd_loey_h = cd_loey[['year','month']]
cd_loey_hi = cd_loey.iloc[:,0:33]
cd_loey = pd.concat([cd_loey_hi,cd_loey_h],axis=1)
cd_loey

,id,สถานี,1,2,3,4,5,6,7,8,...,24,25,26,27,28,29,30,31,year,month
0,1,353301-เลย สกษ. จ.เลย,8,10,10,9,8,10,10,7,...,1,2,4,2,3,3,1,2,2011,10
1,2,353301-เลย สกษ. จ.เลย,2,1,2,1,1,1,2,2,...,4,0,1,2,2,5,3,-,2011,11
2,3,353301-เลย สกษ. จ.เลย,1,3,1,3,3,2,3,5,...,1,1,0,0,1,1,4,1,2011,12
3,1,353301-เลย สกษ. จ.เลย,1,1,3,6,6,2,1,1,...,4,6,5,1,2,4,9,8,2012,1
4,2,353301-เลย สกษ. จ.เลย,8,5,10,7,1,0,-,-,...,-,-,0,1,3,-,3,-,2012,2
5,3,353301-เลย สกษ. จ.เลย,2,1,4,4,6,7,6,9,...,2,2,2,2,2,1,3,6,2012,10
6,4,353301-เลย สกษ. จ.เลย,2,1,1,7,4,4,2,2,...,6,3,4,6,6,8,6,-,2012,11
7,5,353301-เลย สกษ. จ.เลย,3,3,6,6,3,6,4,2,...,2,6,8,4,2,1,4,2,2012,12
8,6,353301-เลย สกษ. จ.เลย,2,2,2,1,2,4,1,2,...,2,4,3,8,10,7,5,9,2013,1
9,7,353301-เลย สกษ. จ.เลย,6,8,6,3,1,2,0,2,...,0,1,2,2,3,8,6,3,2013,2
10,8,353301-เลย สกษ. จ.เลย,9,9,8,1,3,1,3,2,...,6,10,5,1,2,1,2,1,2013,10
11,9,353301-เลย สกษ. จ.เลย,2,1,2,1,1,3,7,5,...,2,5,4,4,5,2,1,0,2013,11
12,10,353301-เลย สกษ. จ.เลย,5,3,2,2,2,1,1,0,...,3,0,0,0,0,0,0,0,2013,12
13,11,353301-เลย สกษ. จ.เลย,-,-,-,0,-,-,-,-,...,-,-,-,0,1,-,1,-,2014,1
14,12,353301-เลย สกษ. จ.เลย,-,-,-,0,1,0,1,1,...,4,2,1,2,2,3,2,-,2014,2
15,13,353301-เลย สกษ. จ.เลย,6,5,3,3,4,6,6,4,...,8,5,3,3,4,6,4,2,2014,10
16,14,353301-เลย สกษ. จ.เลย,3,3,4,4,6,8,8,6,...,1,1,2,3,3,2,3,-,2014,11
17,15,353301-เลย สกษ. จ.เลย,3,8,7,6,6,3,2,4,...,2,4,3,4,2,1,-,0,2014,12
18,16,353301-เลย สกษ. จ.เลย,0,-,0,-,0,0,1,8,...,1,-,-,-,-,-,-,0,2015,1
19,17,353301-เลย สกษ. จ.เลย,3,3,1,2,3,3,2,2,...,1,2,1,0,0,2,3,-,2015,2
20,18,353301-เลย สกษ. จ.เลย,6,7,6,4,5,5,8,8,...,1,1,1,2,2,3,5,3,2015,10
21,19,353301-เลย สกษ. จ.เลย,4,6,5,4,2,4,8,6,...,4,3,5,2,5,1,3,-,2015,11
22,20,353301-เลย สกษ. จ.เลย,3,2,5,6,8,9,6,2,...,5,7,6,7,7,4,4,7,2015,12
23,21,353301-เลย สกษ. จ.เลย,4,2,3,2,1,2,3,4,...,9,10,10,9,6,1,2,1,2016,1
24,22,353301-เลย สกษ. จ.เลย,1,4,-,1,1,6,2,1,...,6,3,2,1,3,1,3,-,2016,2
25,23,353301-เลย สกษ. จ.เลย,6,6,7,3,6,7,6,4,...,7,9,7,5,2,3,3,5,2016,10
26,24,353301-เลย สกษ. จ.เลย,5,5,6,3,2,2,8,10,...,8,6,2,3,2,1,1,-,2016,11
27,25,353301-เลย สกษ. จ.เลย,1,1,2,6,5,9,3,6,...,2,1,1,2,1,1,1,5,2016,12
28,26,353301-เลย สกษ. จ.เลย,9,6,6,7,10,7,5,4,...,2,3,2,1,1,1,4,2,2017,1
29,27,353301-เลย สกษ. จ.เลย,1,5,3,1,-,0,-,-,...,1,8,10,6,3,4,4,-,2017,2
30,28,353301-เลย สกษ. จ.เลย,6,8,7,9,8,8,7,7,...,6,3,1,2,2,1,2,1,2017,10
31,29,353301-เลย สกษ. จ.เลย,3,3,2,1,8,10,7,8,...,2,1,1,2,3,3,4,-,2017,11
32,30,353301-เลย สกษ. จ.เลย,5,3,2,3,8,3,3,7,...,1,3,7,10,10,5,6,7,2017,12
33,31,353301-เลย สกษ. จ.เลย,4,5,7,4,5,3,4,2,...,1,1,4,8,1,2,5,8,2018,1
34,32,353301-เลย สกษ. จ.เลย,10,5,7,3,1,2,1,2,...,5,1,5,8,3,4,2,-,2018,2
35,33,353301-เลย สกษ. จ.เลย,6,4,4,2,4,1,1,2,...,7,5,2,2,3,2,2,1,2018,10
36,34,353301-เลย สกษ. จ.เลย,1,0,-,-,0,0,2,4,...,1,1,2,4,8,8,3,-,2018,11
37,35,353301-เลย สกษ. จ.เลย,2,4,2,1,1,1,3,7,...,2,1,1,0,4,9,9,5,2018,12
38,36,353301-เลย สกษ. จ.เลย,2,1,2,6,7,8,4,6,...,1,2,1,1,1,1,1,1,2019,1
39,37,353301-เลย สกษ. จ.เลย,2,1,-,0,-,0,0,0,...,0,1,3,3,2,2,1,-,2019,2
40,38,353301-เลย สกษ. จ.เลย,1,2,1,5,7,4,2,3,...,2,4,2,2,4,4,3,3,2019,10
41,39,353301-เลย สกษ. จ.เลย,8,5,6,4,2,1,4,4,...,0,1,0,4,3,-,1,-,2019,11
42,40,353301-เลย สกษ. จ.เลย,1,2,0,0,-,-,-,1,...,1,1,0,3,2,1,0,1,2019,12
43,41,353301-เลย สกษ. จ.เลย,4,3,2,2,1,1,1,0,...,7,3,0,4,2,1,3,-,2020,1
44,42,353301-เลย สกษ. จ.เลย,-,1,1,2,5,2,1,1,...,1,1,1,1,3,1,-,-,2020,2
45,43,353301-เลย สกษ. จ.เลย,7,8,8,7,3,4,7,10,...,2,2,7,6,5,10,9,8,2020,10
46,44,353301-เลย สกษ. จ.เลย,4,7,4,9,3,4,6,3,...,1,1,2,2,1,4,1,-,2020,11
47,45,353301-เลย สกษ. จ.เลย,0,2,4,2,0,1,1,1,...,2,1,4,1,2,1,4,3,2020,12
48,46,353301-เลย สกษ. จ.เลย,3,1,-,1,0,1,2,5,...,1,-,-,0,2,2,3,1,2021,1
49,47,353301-เลย สกษ. จ.เลย,0,1,1,1,0,0,0,3,...,0,0,0,2,1,4,-,-,2021,2
50,48,353301-เลย สกษ. จ.เลย,4,2,5,2,4,5,4,7,...,2,2,1,3,6,9,5,4,2021,10
51,49,353301-เลย สกษ. จ.เลย,4,3,2,1,1,1,1,5,...,1,5,3,3,1,1,1,-,2021,11
52,50,353301-เลย สกษ. จ.เลย,1,1,1,-,0,0,-,-,...,1,5,3,4,-,3,2,1,2021,12
53,1,353301-เลย สกษ. จ.เลย,3,2,1,3,-,-,0,0,...,2,1,1,1,1,1,1,0,2022,1
54,2,353301-เลย สกษ. จ.เลย,3,5,5,5,7,6,1,1,...,-,1,0,3,2,-,-,-,2022,2

In [249]:
#ต่อ(จำนวนก้อนเมฆ)
cd_loey_melt = cd_loey.set_index(['สถานี','id','year','month']).stack().reset_index()
cd_loey_melt.rename(columns={'level_4' : 'day'},inplace=True)
cd_loey_melt.rename(columns={0 : 'จำนวนเมฆ(10ส่วน)'},inplace=True)
cd_loey_melt['province_id'] = len(cd_loey_melt)*['loey']
cd_loey_in = cd_loey_melt[['province_id','year','month','day','จำนวนเมฆ(10ส่วน)']].reset_index()
cd_loey_in_re = cd_loey_in[['province_id','index','year','month','day','จำนวนเมฆ(10ส่วน)']]
cd_loey_in_re["id"] = cd_loey_in_re["province_id"].astype(str) +  cd_loey_in_re["index"].astype(str)
cd_loey_fin = cd_loey_in_re[['id','province_id','year','month','day','จำนวนเมฆ(10ส่วน)']]

#อุณหภูมิจุดน้ำค้าง
dp_loey.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
dp_loey.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
dp_loey.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
dp_loey['year'] = dp_loey['เดือน-ปี'].dt.year
dp_loey['month'] = dp_loey['เดือน-ปี'].dt.month
dp_loey = dp_loey.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
dp_loey_melt = dp_loey.set_index(['สถานี','id','year','month']).stack().reset_index()
dp_loey_melt.rename(columns={'level_4' : 'day'},inplace=True)
dp_loey_melt.rename(columns={0 : 'อุณหภูมิจุดน้ำค้าง(เซลเซียส)'},inplace=True)
dp_loey_melt['province_id'] = len(dp_loey_melt)*['loey']
dp_loey_in = dp_loey_melt[['province_id','year','month','day','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']].reset_index()
dp_loey_in_re = dp_loey_in[['province_id','index','year','month','day','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']]
dp_loey_in_re["id"] = dp_loey_in_re["province_id"].astype(str) +  dp_loey_in_re["index"].astype(str)
dp_loey_fin = dp_loey_in_re[['id','province_id','year','month','day','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']]

#อุณหภูมิตุ้มแห้ง
bt_loey.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
bt_loey.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
bt_loey.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
bt_loey['year'] = bt_loey['เดือน-ปี'].dt.year
bt_loey['month'] = bt_loey['เดือน-ปี'].dt.month
bt_loey = bt_loey.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
bt_loey_melt = bt_loey.set_index(['สถานี','id','year','month']).stack().reset_index()
bt_loey_melt.rename(columns={'level_4' : 'day'},inplace=True)
bt_loey_melt.rename(columns={0 : 'อุณหภูมิตุ้มแห้ง(เซลเซียส)'},inplace=True)
bt_loey_melt['province_id'] = len(bt_loey_melt)*['loey']
bt_loey_in = bt_loey_melt[['province_id','year','month','day','อุณหภูมิตุ้มแห้ง(เซลเซียส)']].reset_index()
bt_loey_in_re = bt_loey_in[['province_id','index','year','month','day','อุณหภูมิตุ้มแห้ง(เซลเซียส)']]
bt_loey_in_re["id"] = bt_loey_in_re["province_id"].astype(str) +  bt_loey_in_re["index"].astype(str)
bt_loey_fin = bt_loey_in_re[['id','province_id','year','month','day','อุณหภูมิตุ้มแห้ง(เซลเซียส)']]

#อุณหภูมิต่ำสุด
lw_loey.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
lw_loey.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
lw_loey.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
lw_loey['year'] = lw_loey['เดือน-ปี'].dt.year
lw_loey['month'] = lw_loey['เดือน-ปี'].dt.month
lw_loey = lw_loey.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
lw_loey_melt = lw_loey.set_index(['สถานี','id','year','month']).stack().reset_index()
lw_loey_melt.rename(columns={'level_4' : 'day'},inplace=True)
lw_loey_melt.rename(columns={0 : 'อุณหภูมิต่ำสุด(เซลเซียส)'},inplace=True)
lw_loey_melt['province_id'] = len(lw_loey_melt)*['loey']
lw_loey_in = lw_loey_melt[['province_id','year','month','day','อุณหภูมิต่ำสุด(เซลเซียส)']].reset_index()
lw_loey_in_re = lw_loey_in[['province_id','index','year','month','day','อุณหภูมิต่ำสุด(เซลเซียส)']]
lw_loey_in_re["id"] = lw_loey_in_re["province_id"].astype(str) +  lw_loey_in_re["index"].astype(str)
lw_loey_fin = lw_loey_in_re[['id','province_id','year','month','day','อุณหภูมิต่ำสุด(เซลเซียส)']]

#ปริมาณน้ำฝน
rain_loey.rename(columns={'Unnamed: 0' : 'id'},inplace=True)
rain_loey.rename(columns={'Unnamed: 1' : 'สถานี'},inplace=True)
rain_loey.rename(columns={'Unnamed: 2' : 'เดือน-ปี'},inplace=True)
rain_loey['year'] = rain_loey['เดือน-ปี'].dt.year
rain_loey['month'] = rain_loey['เดือน-ปี'].dt.month
rain_loey = rain_loey.drop(['เดือน-ปี','Unnamed: 34'], axis =1)
rain_loey_melt = rain_loey.set_index(['สถานี','id','year','month']).stack().reset_index()
rain_loey_melt.rename(columns={'level_4' : 'day'},inplace=True)
rain_loey_melt.rename(columns={0 : 'ปริมาณฝน(มิลลิเมตร)'},inplace=True)
rain_loey_melt['province_id'] = len(rain_loey_melt)*['loey']
rain_loey_in = rain_loey_melt[['province_id','year','month','day','ปริมาณฝน(มิลลิเมตร)']].reset_index()
rain_loey_in_re = rain_loey_in[['province_id','index','year','month','day','ปริมาณฝน(มิลลิเมตร)']]
rain_loey_in_re["id"] = rain_loey_in_re["province_id"].astype(str) +  rain_loey_in_re["index"].astype(str)
rain_loey_fin = rain_loey_in_re[['id','province_id','year','month','day','ปริมาณฝน(มิลลิเมตร)']]

#join
merged_df_loey = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(
            pd.merge(press_loey_fin[['id','province_id','year','month','day','ความกดอากาศ(%)']],
            Humidity_loey_fin[['id','ความชื้นสัมพัทธ์(%)']], on='id'),
            ws_loey_fin[['id','ความเร็วลม(นอต)']], on='id'),
            cd_loey_fin[['id','จำนวนเมฆ(10ส่วน)']], on='id'),
            dp_loey_fin[['id','อุณหภูมิจุดน้ำค้าง(เซลเซียส)']], on='id'),
            bt_loey_fin[['id','อุณหภูมิตุ้มแห้ง(เซลเซียส)']], on='id'),
            lw_loey_fin[['id','อุณหภูมิต่ำสุด(เซลเซียส)']], on='id'),
            rain_loey_fin[['id','ปริมาณฝน(มิลลิเมตร)']], on='id')
merged_df_loey

<ipython-input-249-f8ab1478bd26>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cd_loey_in_re["id"] = cd_loey_in_re["province_id"].astype(str) +  cd_loey_in_re["index"].astype(str)
<ipython-input-249-f8ab1478bd26>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dp_loey_in_re["id"] = dp_loey_in_re["province_id"].astype(str) +  dp_loey_in_re["index"].astype(str)
<ipython-input-249-f8ab1478bd26>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bt_loey_in_re["id"] = bt_loey_in_re["province_id"].astype(str) +  bt_loey_in_re["index"].astype(str)
<ipython-input-249-f8ab1478bd26>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lw_loey_in_re["id"] = lw_loey_in_re["province_id"].astype(str) +  lw_loey_in_re["index"].astype(str)
<ipython-input-249-f8ab1478bd26>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rain_loey_in_re["id"] = rain_loey_in_re["province_id"].astype(str) +  rain_loey_in_re["index"].astype(str)

,id,province_id,year,month,day,ความกดอากาศ(%),ความชื้นสัมพัทธ์(%),ความเร็วลม(นอต),จำนวนเมฆ(10ส่วน),อุณหภูมิจุดน้ำค้าง(เซลเซียส),อุณหภูมิตุ้มแห้ง(เซลเซียส),อุณหภูมิต่ำสุด(เซลเซียส),ปริมาณฝน(มิลลิเมตร)
0,loey0,loey,2011,10,1,1005.12,90,2,8,23.6,26.3,23.5,21.6
1,loey1,loey,2011,10,2,1006.51,95,2,10,23.5,25.1,24.3,111.4
2,loey2,loey,2011,10,3,1007.81,92,3,10,21.9,24.4,22.5,0.4
3,loey3,loey,2011,10,4,1008.15,89,2,9,21.9,25.2,23.0,0
4,loey4,loey,2011,10,5,1009.21,86,3,8,21.8,25.6,22.7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544,loey1544,loey,2021,2,26,1004.86,55,2,0,13.8,26.3,16.0,0
1545,loey1545,loey,2021,2,27,1005.76,56,1,2,15.2,25.2,15.3,-
1546,loey1546,loey,2021,2,28,1008.21,58,1,1,-,25.6,16,-
1547,loey1547,loey,2021,2,29,-,-,-,4,-,-,-,-
1548,loey1548,loey,2021,2,30,-,-,-,-,-,-,-,2.8

# ต่อกันในแนวแกน y

In [250]:
df_finish = pd.concat([merged_df_kk,merged_df_nkpanom,merged_df_sknk,merged_df_nongcry,merged_df_loey])
df_finish

,id,province_id,year,month,day,ความกดอากาศ(%),ความชื้นสัมพัทธ์(%),ความเร็วลม(นอต),จำนวนเมฆ(10ส่วน),อุณหภูมิจุดน้ำค้าง(เซลเซียส),อุณหภูมิตุ้มแห้ง(เซลเซียส),อุณหภูมิต่ำสุด(เซลเซียส),ปริมาณฝน(มิลลิเมตร)
0,kk0,kk,2011,10,1,1005.47,83,3,9,24.2,27.6,24.8,1.4
1,kk1,kk,2011,10,2,1006.65,92,2,10,24.0,25.6,23.0,17.7
2,kk2,kk,2011,10,3,1007.49,86,3,10,22.9,25.6,22.1,3
3,kk3,kk,2011,10,4,1008.28,80,2,8,21.9,25.8,22.8,0
4,kk4,kk,2011,10,5,1009.88,86,2,10,21.7,24.3,23.1,2.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544,loey1544,loey,2021,2,26,1004.86,55,2,0,13.8,26.3,16.0,0
1545,loey1545,loey,2021,2,27,1005.76,56,1,2,15.2,25.2,15.3,-
1546,loey1546,loey,2021,2,28,1008.21,58,1,1,-,25.6,16,-
1547,loey1547,loey,2021,2,29,-,-,-,4,-,-,-,-
1548,loey1548,loey,2021,2,30,-,-,-,-,-,-,-,2.8

## cleancing  data

รวมคอลัมน์ Year, month, day ให้เป็นคอลัมน์ Date

In [251]:
df_finish['dateInt']=df_finish['year'].astype(str) + df_finish['month'].astype(str).str.zfill(2)+ df_finish['day'].astype(str).str.zfill(2)
df_finish['Date'] = pd.to_datetime(df_finish['dateInt'], format='%Y%m%d', errors='coerce')

In [252]:
df_finish = df_finish.drop(['year','month','day','dateInt'],axis=1)
df_finish

,id,province_id,ความกดอากาศ(%),ความชื้นสัมพัทธ์(%),ความเร็วลม(นอต),จำนวนเมฆ(10ส่วน),อุณหภูมิจุดน้ำค้าง(เซลเซียส),อุณหภูมิตุ้มแห้ง(เซลเซียส),อุณหภูมิต่ำสุด(เซลเซียส),ปริมาณฝน(มิลลิเมตร),Date
0,kk0,kk,1005.47,83,3,9,24.2,27.6,24.8,1.4,2011-10-01
1,kk1,kk,1006.65,92,2,10,24.0,25.6,23.0,17.7,2011-10-02
2,kk2,kk,1007.49,86,3,10,22.9,25.6,22.1,3,2011-10-03
3,kk3,kk,1008.28,80,2,8,21.9,25.8,22.8,0,2011-10-04
4,kk4,kk,1009.88,86,2,10,21.7,24.3,23.1,2.2,2011-10-05
...,...,...,...,...,...,...,...,...,...,...,...
1544,loey1544,loey,1004.86,55,2,0,13.8,26.3,16.0,0,2021-02-26
1545,loey1545,loey,1005.76,56,1,2,15.2,25.2,15.3,-,2021-02-27
1546,loey1546,loey,1008.21,58,1,1,-,25.6,16,-,2021-02-28
1547,loey1547,loey,-,-,-,4,-,-,-,-,NaT
1548,loey1548,loey,-,-,-,-,-,-,-,2.8,NaT

In [253]:
uin = df_finish[['id','province_id','Date']]
uin_1 = df_finish.iloc[:,2:10]
df_finish = pd.concat([uin,uin_1],axis=1)
df_finish

,id,province_id,Date,ความกดอากาศ(%),ความชื้นสัมพัทธ์(%),ความเร็วลม(นอต),จำนวนเมฆ(10ส่วน),อุณหภูมิจุดน้ำค้าง(เซลเซียส),อุณหภูมิตุ้มแห้ง(เซลเซียส),อุณหภูมิต่ำสุด(เซลเซียส),ปริมาณฝน(มิลลิเมตร)
0,kk0,kk,2011-10-01,1005.47,83,3,9,24.2,27.6,24.8,1.4
1,kk1,kk,2011-10-02,1006.65,92,2,10,24.0,25.6,23.0,17.7
2,kk2,kk,2011-10-03,1007.49,86,3,10,22.9,25.6,22.1,3
3,kk3,kk,2011-10-04,1008.28,80,2,8,21.9,25.8,22.8,0
4,kk4,kk,2011-10-05,1009.88,86,2,10,21.7,24.3,23.1,2.2
...,...,...,...,...,...,...,...,...,...,...,...
1544,loey1544,loey,2021-02-26,1004.86,55,2,0,13.8,26.3,16.0,0
1545,loey1545,loey,2021-02-27,1005.76,56,1,2,15.2,25.2,15.3,-
1546,loey1546,loey,2021-02-28,1008.21,58,1,1,-,25.6,16,-
1547,loey1547,loey,NaT,-,-,-,4,-,-,-,-
1548,loey1548,loey,NaT,-,-,-,-,-,-,-,2.8

#### เช็คค่า na ในแต่ละคอลัมน์
ซึ่งจะเห็นได้ว่าคอลัมน์ Date มีค่า na ซึ่งเกิดมาจากไม่มีวันที่นั้นอยู่ในปฏิทิน เช่น วันที่ 31 พฤจิกายน

In [254]:
df_finish.isna().any()

id                              False
province_id                     False
Date                             True
ความกดอากาศ(%)                  False
ความชื้นสัมพัทธ์(%)             False
ความเร็วลม(นอต)                 False
จำนวนเมฆ(10ส่วน)                False
อุณหภูมิจุดน้ำค้าง(เซลเซียส)    False
อุณหภูมิตุ้มแห้ง(เซลเซียส)      False
อุณหภูมิต่ำสุด(เซลเซียส)        False
ปริมาณฝน(มิลลิเมตร)             False
dtype: bool

#### <b> ลบค่าที่เป็น NaT (Not a Time) ใน Date
เช่น วันที่ 30 ในเดือนกุมภาพันธ์ ซึ่งโดยปกติแล้วไม่มี เนื่องจากเดือนกุมภาพันธ์มีแค่ 28-29

In [255]:
df_cleaned_NaT = df_finish.dropna(subset=['Date'])
df_cleaned_NaT

,id,province_id,Date,ความกดอากาศ(%),ความชื้นสัมพัทธ์(%),ความเร็วลม(นอต),จำนวนเมฆ(10ส่วน),อุณหภูมิจุดน้ำค้าง(เซลเซียส),อุณหภูมิตุ้มแห้ง(เซลเซียส),อุณหภูมิต่ำสุด(เซลเซียส),ปริมาณฝน(มิลลิเมตร)
0,kk0,kk,2011-10-01,1005.47,83,3,9,24.2,27.6,24.8,1.4
1,kk1,kk,2011-10-02,1006.65,92,2,10,24.0,25.6,23.0,17.7
2,kk2,kk,2011-10-03,1007.49,86,3,10,22.9,25.6,22.1,3
3,kk3,kk,2011-10-04,1008.28,80,2,8,21.9,25.8,22.8,0
4,kk4,kk,2011-10-05,1009.88,86,2,10,21.7,24.3,23.1,2.2
...,...,...,...,...,...,...,...,...,...,...,...
1542,loey1542,loey,2021-02-24,1008.39,69,1,0,17.3,26.8,18.0,0
1543,loey1543,loey,2021-02-25,1006.05,61,1,0,13.0,27.8,19.5,0
1544,loey1544,loey,2021-02-26,1004.86,55,2,0,13.8,26.3,16.0,0
1545,loey1545,loey,2021-02-27,1005.76,56,1,2,15.2,25.2,15.3,-
1546,loey1546,loey,2021-02-28,1008.21,58,1,1,-,25.6,16,-

เมื่อทำการตรวจหาค่า NaN ก็ไม่พบค่า NaN แล้ว

In [256]:
df_cleaned_NaT.isnull().any()

id                              False
province_id                     False
Date                            False
ความกดอากาศ(%)                  False
ความชื้นสัมพัทธ์(%)             False
ความเร็วลม(นอต)                 False
จำนวนเมฆ(10ส่วน)                False
อุณหภูมิจุดน้ำค้าง(เซลเซียส)    False
อุณหภูมิตุ้มแห้ง(เซลเซียส)      False
อุณหภูมิต่ำสุด(เซลเซียส)        False
ปริมาณฝน(มิลลิเมตร)             False
dtype: bool

ดู describe() ของข้อมูล

In [257]:
df_cleaned_NaT.describe()

<ipython-input-257-02608441da89>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_cleaned_NaT.describe()

,id,province_id,Date,ความกดอากาศ(%),ความชื้นสัมพัทธ์(%),ความเร็วลม(นอต),จำนวนเมฆ(10ส่วน),อุณหภูมิจุดน้ำค้าง(เซลเซียส),อุณหภูมิตุ้มแห้ง(เซลเซียส),อุณหภูมิต่ำสุด(เซลเซียส),ปริมาณฝน(มิลลิเมตร)
count,8169,8169,8169,8169.00,8169.0,8169.0,8169.0,8169.0,8169.0,8169.0,8169.0
unique,8169,5,1664,1552.00,60.0,13.0,12.0,233.0,170.0,193.0,264.0
top,kk0,kk,2011-10-01 00:00:00,1011.34,69.0,2.0,1.0,17.5,25.6,21.0,0.0
freq,1,1664,5,20.00,458.0,2923.0,1542.0,98.0,151.0,158.0,4439.0
first,NaN,NaN,2011-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2022-02-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

เมื่อตรวจดู describe() ของข้อมูลแล้ว พบว่าไม่สามารถคำนวณค่าทางสถิติได้ นั่นแสดงว่าภายในคอลัมน์แต่ละคอลัมน์ มีค่าอื่นที่ไม่ใช่ค่าเชิงปริมาณอยู่
เราจึงจำเป็นต้องทำการแทนที่ค่าที่ไม่ใช่ค่าเชิงปริมาณให้เป็นค่าเชิงปริมาณ

 ## แก้Missing Data

เราต้องงตรวจดูแต่ละคอลัมน์ว่ามีค่าใดที่ unique(บ้าง เผื่อเป็นค่า missing เราจะได้ทำการแก้ไข)

In [265]:
df_cleaned_NaT.dtypes #ตรวจสอบชนิดของแต่ละคอลัมน์

id                                      object
province_id                             object
Date                            datetime64[ns]
ความกดอากาศ(%)                          object
ความชื้นสัมพัทธ์(%)                     object
ความเร็วลม(นอต)                         object
จำนวนเมฆ(10ส่วน)                        object
อุณหภูมิจุดน้ำค้าง(เซลเซียส)            object
อุณหภูมิตุ้มแห้ง(เซลเซียส)              object
อุณหภูมิต่ำสุด(เซลเซียส)                object
ปริมาณฝน(มิลลิเมตร)                     object
dtype: object

In [271]:
missing = df_cleaned_NaT.applymap(lambda x: np.nan if x == '-' else x)
missing

,id,province_id,Date,ความกดอากาศ(%),ความชื้นสัมพัทธ์(%),ความเร็วลม(นอต),จำนวนเมฆ(10ส่วน),อุณหภูมิจุดน้ำค้าง(เซลเซียส),อุณหภูมิตุ้มแห้ง(เซลเซียส),อุณหภูมิต่ำสุด(เซลเซียส),ปริมาณฝน(มิลลิเมตร)
0,kk0,kk,2011-10-01,1005.47,83,3.0,9.0,24.2,27.6,24.8,1.4
1,kk1,kk,2011-10-02,1006.65,92,2.0,10.0,24.0,25.6,23.0,17.7
2,kk2,kk,2011-10-03,1007.49,86,3.0,10.0,22.9,25.6,22.1,3
3,kk3,kk,2011-10-04,1008.28,80,2.0,8.0,21.9,25.8,22.8,0
4,kk4,kk,2011-10-05,1009.88,86,2.0,10.0,21.7,24.3,23.1,2.2
...,...,...,...,...,...,...,...,...,...,...,...
1542,loey1542,loey,2021-02-24,1008.39,69,1.0,0.0,17.3,26.8,18.0,0
1543,loey1543,loey,2021-02-25,1006.05,61,1.0,0.0,13.0,27.8,19.5,0
1544,loey1544,loey,2021-02-26,1004.86,55,2.0,0.0,13.8,26.3,16.0,0
1545,loey1545,loey,2021-02-27,1005.76,56,1.0,2.0,15.2,25.2,15.3,NaN
1546,loey1546,loey,2021-02-28,1008.21,58,1.0,1.0,NaN,25.6,16.0,NaN

In [272]:
missing.isnull().any() #ตรวจสอบว่ามีคอลัมน์ไหนบ้างที่มีค่า missing ถ้า เป็น Ture = มี missing

id                              False
province_id                     False
Date                            False
ความกดอากาศ(%)                  False
ความชื้นสัมพัทธ์(%)             False
ความเร็วลม(นอต)                  True
จำนวนเมฆ(10ส่วน)                 True
อุณหภูมิจุดน้ำค้าง(เซลเซียส)     True
อุณหภูมิตุ้มแห้ง(เซลเซียส)      False
อุณหภูมิต่ำสุด(เซลเซียส)         True
ปริมาณฝน(มิลลิเมตร)              True
dtype: bool

In [273]:
missing.dtypes #ตรวจสอบชนิดของแต่ละคอลัมน์

id                                      object
province_id                             object
Date                            datetime64[ns]
ความกดอากาศ(%)                         float64
ความชื้นสัมพัทธ์(%)                      int64
ความเร็วลม(นอต)                        float64
จำนวนเมฆ(10ส่วน)                       float64
อุณหภูมิจุดน้ำค้าง(เซลเซียส)           float64
อุณหภูมิตุ้มแห้ง(เซลเซียส)             float64
อุณหภูมิต่ำสุด(เซลเซียส)               float64
ปริมาณฝน(มิลลิเมตร)                     object
dtype: object

### แก้ missing ของ column ความกดอากาศ

แก้โดยการนำค่า mean ของความกดอากาศ ไปแทนในคอลัมน์ความกดอากาศที่มีค่า NaN

In [274]:
mean_press = missing['ความกดอากาศ(%)'].mean()
mean_press

1013.0169457705961

In [275]:
missing['ความกดอากาศ(%)'] = missing['ความกดอากาศ(%)'].fillna(mean_press)

In [276]:
missing.isnull().any()

id                              False
province_id                     False
Date                            False
ความกดอากาศ(%)                  False
ความชื้นสัมพัทธ์(%)             False
ความเร็วลม(นอต)                  True
จำนวนเมฆ(10ส่วน)                 True
อุณหภูมิจุดน้ำค้าง(เซลเซียส)     True
อุณหภูมิตุ้มแห้ง(เซลเซียส)      False
อุณหภูมิต่ำสุด(เซลเซียส)         True
ปริมาณฝน(มิลลิเมตร)              True
dtype: bool