<a href="https://colab.research.google.com/github/Tonry12/data_science_bootcamp_8_tonnaw/blob/main/python101_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**string , Integer , float**

In [ ]:
'1'+'3' # string +string คือการต่อ string

'13'

### Advanced Printing ( print code ร่วมกับข้อความ)
เราสามารถ print code ร่วมกับข้อความได้

```python
print(f'ข้อความ{code}')
```

```python
print(f'หนึ่ง บวก สอง (1+2) เท่ากับ สาม ({1+2})')
```

In [ ]:
c = 1+2
print(f'ตัวแปร c = {c}')

ตัวแปร c = 3

In [ ]:
a = 1
b = 2
print(f'หนึ่ง บวก สอง ({a}+{b}) เท่ากับ สาม ({a+b})')

หนึ่ง บวก สอง (1+2) เท่ากับ สาม (3)

### float (จำนวนจริง ทศนิยม)
    double เหมือน float เเต่แค่ใช้พื้นที่เก็บข้อมูลมากกว่า

```decimal point (ทศนิยมกี่ตำแหน่ง) || digit ```

decimal place

In [ ]:
f'{1.009:.2f}' #เป็นการ format เลขทศนิยมหลายๆตำแหน่งให้เหลืออยู่ 2 ตำแหน่ง

'1.01'

In [ ]:
f'{1:03d}' #ข้างหน้าคือตัวเลขที่ต้องการ หลัง : ตือต้องการจำนวน decimal ที่มี3หลัก และมีเลข0 นำหน้า ตัว d หมายถึง decimal

'001'

In [ ]:
fl_a = 7.  # เขียนแค่จุดก็ได้
fl_b = 2.571

print(fl_a)
print(fl_b)

7.0
2.571

In [ ]:
print(fl_a,type(fl_a)) #check class

7.0 <class 'float'>

In [ ]:
200**(1/2) #มันคือ squre root 200

14.142135623730951

### ```replace()``` แทนที่ string
เราจะได้ใช้ตอนที่แทนที่ตัวอักษรที่ผิดพลาด จากการโหลดมาจากในเน็ต

In [ ]:
st_test1 = 'Department of Statistics, '
st_test2 = 'Faculty of Science'

In [ ]:
st_test1.replace('e','ต') #('ตัวที่อยากเปลี่ยน','แทนที่ด้วยตัวอะไร')

'Dตpartmตnt of Statistics, '

In [ ]:
'เเถมหัวใจให้เทอ'.replace('เเ','แ') #แทนที่สระเอ2ตัว ด้วย สระแอ

'แถมหัวใจให้เทอ'

### ```split()``` แยก string

In [ ]:
'a b c d e f g'.split() #แยกด้วยช่องว่าง

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
'a,b/c,d e/f g'.split('/') #แยกด้วย /

['a,b', 'c,d e', 'f g']

In [ ]:
st_test2.split(' ') #แยกด้วยช่องว่าง

['Faculty', 'of', 'Science']

# **Data Structure (โครงสร้างข้อมูล)**
การเก็บข้อมูลหลาย ๆ ตัวไว้ด้วยกันอย่างเป็นระเบียบ

## ```list()```

- เก็บ data type อะไรก็ได้
- ลำดับในการเก็บ มีความสำคัญ
- list จะถูกคลุมด้วย square brackets []
- ข้อมูลแต่ละตัวจะถูกแยกด้วยเครื่องหมาย comma

เพิ่มเติมเกี่ยวกับ list https://shorturl.asia/a3V5u
มีเนื้อหาดังนี้
- สร้าง list
- reverse ลำดับข้อมูล
- จัดเรียงข้อมูลตามลำดับ (มากไปน้อย - น้อยไปมาก)
- หา index ของข้อมูล
- เข้าถึงข้อมูล (ตำแหน่งของ index เริ่มจาก 0 ถึง n-1)
- Negative Indexing (การ index แบบให้ค่าติดลบ)
- Range indexes
- เปลี่ยนค่าของ item
- Loop List
- Check item ใน list (ใช้ if…in keyword เพื่อดูว่ามี item นั้นๆใน list หรือเปล่า )
- นับ items ใน list (len())
- นับว่ามี item นั้นกี่อัน (count())
- เพิ่ม item
- insert() method
- ลบ item ออกจาก list remove() method

In [ ]:
list_a = [1,2,3,4,5,6]

In [ ]:
list_b = ['ab',2,3.14 , list_a] # จะเก็บ data type อะไรก็ได้

### indexing การชี้สมาชิกใน list ด้วย เลขลำดับของ list
(การดึงสมาชิกในลิสต์ออกมา)

In [ ]:
list_b[3] # เอาสมาชิกตัวที่ 4

[1, 2, 3, 4, 5, 6]

In [ ]:
list_b[3][3] # เอาสมาชิกตัวที่ 4 เเละเอาสมาชิกตัวที่ 4 ใน list นั้นอีกที เพรามันซ้อนกันอยู่

4

In [ ]:
list_a[-1] # index -1 คือตัวสุดท้ายของ list

6

In [ ]:
list_a[-4] # index ติดลบ นับจาก 4 ตัวสุดท้าย

3

### List Slicing ```:```
การดึงข้อมูลจาก list

`list[จุดเเริ่มต้น  (ทึบ):จุดสุดท้าย  (โปร่ง)]`

`list[จุดเเริ่มต้น  (ทึบ):จุดสุดท้าย  (โปร่ง):step]`

![image.png]()

In [ ]:
list_a[-3:] # : colon  # ดึงสมาชิก สามตัวสุดท้าย ออกมา

[4, 5, 6]

In [ ]:
list_a[:4] # ก็จะเอาตั้งเเต่ ตัวที่ 0 1 2 3 ออกมา

[1, 2, 3, 4]

In [ ]:
list_a[1:4] # จะเอาเลข 2 , 3 , 4

[2, 3, 4]

In [ ]:
list_a[:] # คือเอาทุกตัว

[1, 2, 3, 4, 5, 6]

### step

In [ ]:
list_a[1:-1:2]

[2, 4]

In [ ]:
list_c = [1,2,3,4,5,6,7,8,9,10,11,12,13] # กำหนด list_c

In [ ]:
list_c[:10:] # เอา 10 ตัวเเรก

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list_c[:10:2] # กระโดดทีละ 2 ขั้น

[1, 3, 5, 7, 9]

In [ ]:
list_c[::-1] # แบบกลับหลัง #เอาทุกตัวแต่ว่าเอาทีละ-1

[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

##QUIZE 2

```
# กำหนด list เป็นประโยคคำว่า " Department of statistics, fuculty of science, Khon kaen University, Thailand"

1 ตัดมาเฉพาะคำว่า fuculty of science
2 ตัดแบบเว้นทีละ 3 ตัวอักษร
3 ตัดคำว่า Khon kaen University แบบกลับหลัง
```

In [ ]:
list_t = "Department of statistics, fuculty of science, Khon kaen University, Thailand"

In [ ]:
list_t[26:44] #ข้อ1

'fuculty of science'

In [ ]:
list_t[:77:3] #ข้อ 2

'Damtftii,ul  ic oknnei,hld'

In [ ]:
list_t[-11:45:-1] #ข้อ 3

'ytisrevinU neak nohK'

## HW1
คำนวณว่า ช่วงเวลาต่อไปนี้ ห่างกันที่ ชั่วโมง กี่นาที กี่วินาที(print ออกมาให้สวยงาม)
- 12:30:15-13:41:07
- 09:11:50-21:30:15
- 19:25:30-03:10:15

In [ ]:
time_all = '12:30:15', '13:41:07' , '09:11:50', '21:30:15' ,'19:25:30', '03:10:15'

In [ ]:
#ข้อที่ 1
# 12:30:15-13:41:07
from datetime import time, datetime
time_a = time_all[0]
time_b = time_all[1]

# เปลี่ยนเวลาจาก string เป็น datetime
t1 = datetime.strptime(time_a, "%H:%M:%S")
t2 = datetime.strptime(time_b, "%H:%M:%S")

# หาความต่างของเวลา
delta = t2 - t1
str_ab = str(delta)
sp_ab = str_ab.split(':')
print(f"ดังนั้น เวลา {time_all[0]}น. กับเวลา {time_all[1]}น. ห่างกันอยู่ {sp_ab[0]}  ชั่วโมง {sp_ab[1]} นาที {sp_ab[2]} วินาที")

ดังนั้น เวลา 12:30:15น. กับเวลา 13:41:07น. ห่างกันอยู่ 1  ชั่วโมง 10 นาที 52 วินาที

In [ ]:
#ข้อที่ 2
# 09:11:50-21:30:15
time_c = time_all[2]
time_d = time_all[3]

# เปลี่ยนเวลาจาก string เป็น datetime
t3 = datetime.strptime(time_c, "%H:%M:%S")
t4 = datetime.strptime(time_d, "%H:%M:%S")

# หาความต่างของเวลา
delta_cd = t4 - t3
str_cd = str(delta_cd)
sp_cd = str_cd.split(':')
print(f"ดังนั้น เวลา {time_all[2]}น. กับเวลา {time_all[3]}น. ห่างกันอยู่ {sp_cd[0]}  ชั่วโมง {sp_cd[1]} นาที {sp_cd[2]} วินาที")

ดังนั้น เวลา 09:11:50น. กับเวลา 21:30:15น. ห่างกันอยู่ 12  ชั่วโมง 18 นาที 25 วินาที

In [ ]:
#ข้อที่ 3
# 19:25:30-03:10:15
time_e = time_all[4]
time_f = time_all[5]

# เปลี่ยนเวลาจาก string เป็น datetime
t5 = datetime.strptime(time_e, "%H:%M:%S")
t6 = datetime.strptime(time_f, "%H:%M:%S")

# หาความต่างของเวลา
delta_ef = t5 - t6
str_ef = str(delta_ef)
sp_ef = str_ef.split(':')
print(f"ดังนั้น เวลา {time_all[4]}น. กับเวลา {time_all[5]}น. ห่างกันอยู่ {sp_ef[0]}  ชั่วโมง {sp_ef[1]} นาที {sp_ef[2]} วินาที")

ดังนั้น เวลา 19:25:30น. กับเวลา 03:10:15น. ห่างกันอยู่ 16  ชั่วโมง 15 นาที 15 วินาที

# **Dictionary**
- คล้าย list
- เป็น {}
- เก็บข้อมูลในรูปแบบ key:values
- index เป็นอะไรก็ได้ ไม่จำเป็นต้องเป็นตัวเลขลำดับ
- ลำดับไม่มีความสำคัญ

In [1]:
dict_a = {1:'Happy','N':'New','2022':'Year'} # { } เรียกว่า curly brackets

### การชี้ สมาชิกใน Dictionary

In [2]:
dict_a[1] # ชี้ตัวที่ 1

'Happy'

In [10]:
dict_a['N'] # ดึงตัว N นั่นก็คือ New

'New'

In [4]:
dict_a.keys() # เเสดงผลของ keys ขึ้นมา

dict_keys([1, 'N', '2022'])

In [5]:
dict_a.values() # เเสดงผลของค่าผลลัพธ์

dict_values(['Happy', 'New', 'Year'])

### การเพิ่มสมาชิกลงไปใน Dictionary

In [6]:
dict_a[7] = 3.14 # keys 7 มีค่าเท่ากับ 3.14

In [7]:
dict_a # เพิ่มสมาชิกขึ้นมา keys 7 มีค่าเท่ากับ 3.14

{1: 'Happy', 'N': 'New', '2022': 'Year', 7: 3.14}

In [8]:
dict_a[7] = 2023 #ถ้าใช้ index ชนกัน มันจะไป update ค่าในอินเด็กซ์นั้นแทน

In [9]:
dict_a

{1: 'Happy', 'N': 'New', '2022': 'Year', 7: 2023}

## **Numpy Array**
- เก็บได้เเต่ตัวเลข
- อ้างอิงโดยใช้ พิกัด (2 มิติ ก็มองเป็น Matrix)

### 2D array

In [11]:
import numpy as np # import เเล้วเปลี่ยนชื่อ จาก numpy เป็น np

In [14]:
arr2_z = np.array([[1,2,3],[4,5,6]]) # สร้าง list ซ้อน list
print(arr2_z) # ได้ list ที่มี สองเเถว สามหลัก

[[1 2 3]
 [4 5 6]]

In [15]:
arr2_z.shape # ดู shape ของ matrix จะได้ว่า มี สองเเถว สามหลัก

(2, 3)

#`np.zeros()`
คือการสร้าง array ที่มีค่าเป็น 0 ออกมา เพราะเป็น identity ของ การบวก

In [16]:
arr2_3_5_0 = np.zeros((3,5)) # สร้าง array 0 ที่มี 3 เเถว 5 หลัก โดยมีค่าเป็น 0 ทั้งหมด

In [17]:
arr2_3_5_0 # array ตั้งต้น

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [18]:
arr2_3_5_0[1,1] #เมื่อจะดูว่าอยู่แถวไหนหลักไหน ให้เรียกดูแบบพิกัด

0.0

In [19]:
arr2_3_5_0[1,2] = 9 # arr[เเถว,หลัก] มีค่าเท่ากับ 9

In [20]:
arr2_3_5_0 # เมื่อเติมเลข 9 เเล้ว

array([[0., 0., 0., 0., 0.],
       [0., 0., 9., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [21]:
arr2_3_5_0[1,2] # บอกค่าของ ตำเเหน่ง เเถว 1 หลัก 2 มีค่าเท่ากับ 9.0

9.0

In [24]:
list_A = [1,2,3,4,5] # สร้าง list
print(list_A) # เปลี่ยนค่าใน list()
list_A[-1] = 'Christmas' # เปลี่ยนค่าตัวสุดท้าย ให้เป็น Christmas
print(list_A) # เเสดงผลออกมา

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 'Christmas']

##`np.ones()`
คือการสร้าง array ที่มีค่าเป็น 1 ออกมา
เพราะเป็น identity ของ การคูณ

In [25]:
arr2_4_5_1 = np.ones((4,5)) # มี 4 เเถว 5 หลัก

In [26]:
arr2_4_5_1 # ค่าเป็น 1 หมด

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [27]:
arr2_4_5_200 = 200 * np.ones((4,5)) # การคูณ 200 กับ matrix ones

In [28]:
arr2_4_5_200 # ก็จะออกมาเป็น 200 ทั้งหมด

array([[200., 200., 200., 200., 200.],
       [200., 200., 200., 200., 200.],
       [200., 200., 200., 200., 200.],
       [200., 200., 200., 200., 200.]])

##`np.ones()`
คือการสร้าง array ที่มีค่าเป็น 1 ออกมา
เพราะเป็น identity ของ การคูณ

In [29]:
arr2_4_5_1 = np.ones((4,5)) # มี 4 เเถว 5 หลัก

In [30]:
arr2_4_5_1 # ค่าเป็น 1 หมด

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [31]:
arr2_4_5_200 = 200 * np.ones((4,5)) # การคูณ 200 กับ matrix ones

In [32]:
arr2_4_5_200 # ก็จะออกมาเป็น 200 ทั้งหมด

array([[200., 200., 200., 200., 200.],
       [200., 200., 200., 200., 200.],
       [200., 200., 200., 200., 200.],
       [200., 200., 200., 200., 200.]])

##HW 2
สร้าง array ที่เป็นรูป logo ก้าวไกล

In [ ]:
import numpy as np
mf_kawklai = np.zeros((18,15))
mf_kawklai[0:3] = 11
mf_kawklai[3,12:15] = 11
mf_kawklai[4,12:14] = 11
mf_kawklai[4,14:15] = 1
mf_kawklai[5,11:14] = 11
mf_kawklai[5,13:14] = 1
mf_kawklai[6,11:14] = 11
mf_kawklai[6,12:14] = 1
mf_kawklai[7,11:14] = 11
mf_kawklai[7,12:14] = 1
mf_kawklai[8,11:14] = 11
mf_kawklai[8,12:14] = 1
mf_kawklai[9,10:13] = 11
mf_kawklai[9,11:13] = 1
mf_kawklai[10,10:13] = 11
mf_kawklai[10,11:13] = 1
mf_kawklai[11,10:13] = 11
mf_kawklai[11,11:13] = 1
mf_kawklai[12,9:12] = 11
mf_kawklai[12,10:12] = 1
mf_kawklai[13,9:12] = 11
mf_kawklai[13,10:12] = 1
mf_kawklai[14,9:12] = 11
mf_kawklai[14,10:12] = 1
mf_kawklai[15,8:11] = 11
mf_kawklai[15,9:11] = 1
mf_kawklai[16,7:11] = 11
mf_kawklai[16,9:11] = 1
mf_kawklai[17,7:10] = 11
mf_kawklai[17,8:10] = 1

mf_kawklai[5,0:9] = 11
mf_kawklai[6,0:9] = 11
mf_kawklai[6,8:9] = 1
mf_kawklai[7,6:9] = 11
mf_kawklai[7,8:9] = 1
mf_kawklai[8,6:9] = 11
mf_kawklai[8,8:9] = 1
mf_kawklai[9,5:8] = 11
mf_kawklai[9,7:8] = 1
mf_kawklai[10,5:8] = 11
mf_kawklai[10,7:8] = 1
mf_kawklai[11,4:7] = 11
mf_kawklai[11,6:7] = 1
mf_kawklai[12,4:7] = 11
mf_kawklai[12,6:7] = 1
mf_kawklai[13,3:6] = 11
mf_kawklai[13,5:6] = 1
mf_kawklai[14,3:6] = 11
mf_kawklai[14,5:6] = 1
mf_kawklai[15,2:5] = 11
mf_kawklai[15,4:5] = 1
mf_kawklai[16,2:5] = 11
mf_kawklai[16,4:5] = 1
mf_kawklai[17,1:4] = 11
mf_kawklai[17,3:4] = 1
print(mf_kawklai)

[[11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. 11. 11. 11.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. 11. 11.  1.]
 [11. 11. 11. 11. 11. 11. 11. 11. 11.  0.  0. 11. 11.  1.  0.]
 [11. 11. 11. 11. 11. 11. 11. 11.  1.  0.  0. 11.  1.  1.  0.]
 [ 0.  0.  0.  0.  0.  0. 11. 11.  1.  0.  0. 11.  1.  1.  0.]
 [ 0.  0.  0.  0.  0.  0. 11. 11.  1.  0.  0. 11.  1.  1.  0.]
 [ 0.  0.  0.  0.  0. 11. 11.  1.  0.  0. 11.  1.  1.  0.  0.]
 [ 0.  0.  0.  0.  0. 11. 11.  1.  0.  0. 11.  1.  1.  0.  0.]
 [ 0.  0.  0.  0. 11. 11.  1.  0.  0.  0. 11.  1.  1.  0.  0.]
 [ 0.  0.  0.  0. 11. 11.  1.  0.  0. 11.  1.  1.  0.  0.  0.]
 [ 0.  0.  0. 11. 11.  1.  0.  0.  0. 11.  1.  1.  0.  0.  0.]
 [ 0.  0.  0. 11. 11.  1.  0.  0.  0. 11.  1.  1.  0.  0.  0.]
 [ 0.  0. 11. 11.  1.  0.  0.  0. 11.  1.  1.  0.  0.  0.  0.]
 [ 0.  0. 11. 11.  1.  0.  0. 11. 11.  1.  1.  0.  0.  0.  0.]
 [ 0. 11. 11.  1.  0.  0.  0. 11.  1.  1.  0.  0.  0.  0.  0.]]

##HW 2.5
สร้าง array ที่เป็นรูป logo ก้าวไกล สามารถเปลี่ยนพื้นหลังได้

In [ ]:
import numpy as np
def ton(x,y):
  mf_kawklai = x * np.ones((18,15))
  logo_gg = y
  mf_kawklai[1,1:16] = logo_gg
  mf_kawklai[2,1:16] = logo_gg
  mf_kawklai[3,1:16] = logo_gg
  mf_kawklai[4,16:20] = logo_gg
  mf_kawklai[5,15:19] = logo_gg
  mf_kawklai[6,14:18] = logo_gg
  mf_kawklai[7,13:17] = logo_gg
  mf_kawklai[8,12:16] = logo_gg
  mf_kawklai[9,11:15] = logo_gg
  mf_kawklai[10,10:14] = logo_gg
  mf_kawklai[11,9:13] = logo_gg
  mf_kawklai[12,8:12] = logo_gg
  mf_kawklai[13,7:11] = logo_gg
  mf_kawklai[14,6:10] = logo_gg
  mf_kawklai[15,5:9] = logo_gg

  mf_kawklai[5,1:12] = logo_gg
  mf_kawklai[6,1:11] = logo_gg
  mf_kawklai[7,8:10] = logo_gg
  mf_kawklai[8,7:9] = logo_gg
  mf_kawklai[9,6:8] = logo_gg
  mf_kawklai[10,5:7] = logo_gg
  mf_kawklai[11,4:6] = logo_gg
  mf_kawklai[12,3:5] = logo_gg
  mf_kawklai[13,2:4] = logo_gg
  mf_kawklai[14,1:3] = logo_gg
  mf_kawklai
  return mf_kawklai

In [ ]:
ton(8,7)

array([[8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8.],
       [8., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7.],
       [8., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7.],
       [8., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7.],
       [8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8.],
       [8., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 8., 8., 8.],
       [8., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 8., 8., 8., 7.],
       [8., 8., 8., 8., 8., 8., 8., 8., 7., 7., 8., 8., 8., 7., 7.],
       [8., 8., 8., 8., 8., 8., 8., 7., 7., 8., 8., 8., 7., 7., 7.],
       [8., 8., 8., 8., 8., 8., 7., 7., 8., 8., 8., 7., 7., 7., 7.],
       [8., 8., 8., 8., 8., 7., 7., 8., 8., 8., 7., 7., 7., 7., 8.],
       [8., 8., 8., 8., 7., 7., 8., 8., 8., 7., 7., 7., 7., 8., 8.],
       [8., 8., 8., 7., 7., 8., 8., 8., 7., 7., 7., 7., 8., 8., 8.],
       [8., 8., 7., 7., 8., 8., 8., 7., 7., 7., 7., 8., 8., 8., 8.],
       [8., 7., 7., 8., 8., 8., 7., 7., 7., 7., 8., 8., 8., 8., 8.],
       [8., 8., 8., 8., 8., 7., 7., 7., 7., 8., 8., 8., 8., 8., 8.],
       [8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8.],
       [8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8.]])